In [1]:
import pandas as pd
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

## Table description generation

Enter the following info: 
 - Table name
 - Location
 - Separator
 - Encoding (optional)
 - Decimal mark (optional)

In [2]:
table = "TB_CIF.tsv"
location = "../../data/raw"
sep = '\t'
encoding = 'latin1'
decimal = ','

### Make a first view of the dataset to check most interesting columns

**Run this if it's a big file**

In [3]:
for chunk in pd.read_csv(f"{location}/{table}",
                         sep=sep,
                         encoding=encoding,
                         decimal=decimal,
                         chunksize=1000000):
    df = chunk
    break

/home/voolkia/anaconda3/envs/test/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Run this if it's a relatively small file**

In [4]:
df = pd.read_csv(f"{location}/{table}",
                sep=sep,
                encoding=encoding,
                decimal=decimal)

C:\Users\Santi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (26,36,46,49,53,59,63,67,74,80,105,110,112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head(15)

,ID,ORIGEN,SEXO,TIPO_PERSONA,CLIENTE,ANO_DE_NACIMIENTO,FECHA_NACIMIENTO,FECHA_DEFUNCION,ESTADO_CIVIL,DOMICILIO_CODIGO_POSTAL,NACIONALIDAD,HABILITADO,DATECO_TRABAJA,DATECO_INGRESO_FAMILIAR,DATECO_INGRESO_PERSONAL,DATECO_AUTONOMO,DATECO_RAZON_SOCIAL_EMPLEADOR,DATMAR_CANTIDAD_HIJOS,DATMAR_COMPLETO_ESTUDIOS,DATMAR_NIVEL_EDUCACION,DATECO_TIPO_ACTIVIDAD,DOMICILIO_LATITUD,DOMICILIO_LONGITUD,POSICION_IVA,POSICION_IB,VALIDO
0,781234,083,F,F,NaN,1929.0,05/05/1929,NaN,Soltero,NaN,NaN,S,NaN,NaN,NaN,NaN,AMES JOSE FERNANDO .,NaN,S,SECUNDARIO,COME,NaN,NaN,5.0,3.0,NaN
1,9089921,083,F,F,NaN,1990.0,20/11/1990,NaN,Soltero,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,S
2,781235,083,M,F,NaN,1953.0,13/03/1953,NaN,Casado,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
3,9089922,083,M,F,NaN,1957.0,06/05/1957,NaN,Casado,3400001.0,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-58.785420,-27.458243,5.0,3.0,S
4,9089923,083,M,F,NaN,1984.0,09/06/1984,NaN,Soltero,1635000.0,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,S
5,10453622,043,M,F,S,1965.0,08/03/1965,NaN,Casado,1870011.0,NaN,NaN,NaN,NaN,NaN,NaN,MINISTERIO DE SALUD PROV BA,NaN,NaN,NaN,NaN,-58.355398,-34.669269,5.0,3.0,S
6,10453623,043,F,F,S,1969.0,29/07/1969,NaN,Casado,5700005.0,NaN,NaN,NaN,NaN,NaN,NaN,MINISTERIO DE SALUD PROV BA,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,S
7,8,082,F,F,S,1974.0,19/12/1974,NaN,Soltero,NaN,NaN,S,NaN,NaN,NaN,NaN,POLICIA PROV BUENOS AIRES,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,S
8,10453624,043,F,F,S,1969.0,05/04/1969,NaN,Casado,1722006.0,NaN,NaN,NaN,NaN,NaN,NaN,MINISTERIO DE SALUD PROV BA,NaN,NaN,NaN,MEDI,-58.724428,-34.668356,5.0,3.0,S
9,10453627,043,M,F,S,1955.0,06/05/1955,NaN,Casado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MINISTERIO DE SALUD PROV BA,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,S
10,10453629,043,F,F,S,1957.0,10/03/1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MINISTERIO DE SALUD PROV BA,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,S
11,10453630,095,M,F,NaN,1953.0,20/06/1953,NaN,Casado,NaN,NaN,NaN,N,NaN,NaN,N,NaN,NaN,N,NaN,NaN,NaN,NaN,5.0,3.0,S
12,10453632,043,M,F,S,1968.0,04/03/1968,NaN,Casado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MINISTERIO DE SALUD PROV BA,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,S
13,10453633,043,M,F,S,1958.0,18/08/1958,NaN,Divorciado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MINISTERIO DE SALUD PROV BA,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,S
14,23,003,M,F,NaN,1948.0,18/02/1948,NaN,Casado,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN

In [5]:
df.dtypes

ID                                 int64
ORIGEN                            object
SEXO                              object
TIPO_PERSONA                      object
CLIENTE                           object
ANO_DE_NACIMIENTO                float64
FECHA_NACIMIENTO                  object
FECHA_DEFUNCION                   object
ESTADO_CIVIL                      object
DOMICILIO_CODIGO_POSTAL          float64
NACIONALIDAD                      object
HABILITADO                        object
DATECO_TRABAJA                    object
DATECO_INGRESO_FAMILIAR          float64
DATECO_INGRESO_PERSONAL          float64
DATECO_AUTONOMO                   object
DATECO_RAZON_SOCIAL_EMPLEADOR     object
DATMAR_CANTIDAD_HIJOS            float64
DATMAR_COMPLETO_ESTUDIOS          object
DATMAR_NIVEL_EDUCACION            object
DATECO_TIPO_ACTIVIDAD             object
DOMICILIO_LATITUD                float64
DOMICILIO_LONGITUD               float64
POSICION_IVA                     float64
POSICION_IB                      float64
VALIDO                            object
dtype: object

In [6]:
"','".join(df.columns)

"ID','ORIGEN','SEXO','TIPO_PERSONA','CLIENTE','ANO_DE_NACIMIENTO','FECHA_NACIMIENTO','FECHA_DEFUNCION','ESTADO_CIVIL','DOMICILIO_CODIGO_POSTAL','NACIONALIDAD','HABILITADO','DATECO_TRABAJA','DATECO_INGRESO_FAMILIAR','DATECO_INGRESO_PERSONAL','DATECO_AUTONOMO','DATECO_RAZON_SOCIAL_EMPLEADOR','DATMAR_CANTIDAD_HIJOS','DATMAR_COMPLETO_ESTUDIOS','DATMAR_NIVEL_EDUCACION','DATECO_TIPO_ACTIVIDAD','DOMICILIO_LATITUD','DOMICILIO_LONGITUD','POSICION_IVA','POSICION_IB','VALIDO"

*Based on last output, fill this list to mark most relevant columns*

In [4]:
to_use = ['ID','TIPO_DOCUMENTO','NUMERO_DOCUMENTO','APELLIDO','NOMBRES','ORIGEN','SEXO','CLIENTE','CUIT_CUIL','FECHA_NACIMIENTO','FECHA_DEFUNCION','ACT_U_DOMICILIOS','ACT_U_EDAD','ACT_U_TELEFONOS','PADRON','ESTADO_CIVIL','DOMICILIO_NUMERO','ACT_F_SEXO','DOMICILIO_CODIGO_POSTAL','DOMICILIO_DEPTO','DOMICILIO_PISO','CARACTERISTICA_TELEFONO','NUMERO_TELEFONO','TIPO_PERSONA','FECHA_ALTA','FECHA_ACTUALIZACION','NACIONALIDAD','HABILITADO','DATECO_TRABAJA','ACT_F_TELEFONOS','ACT_F_APELLIDO_NOMBRES','ACT_F_ESTADO_CIVIL','ACT_F_HABILITADO','DOMICILIO_OBSERVACIONES','DOMICILIO_BARRIO','DOMICILIO_CALLE','DOMICILIO_EDIFICIO','DOMICILIO_CALLE_ENTRE1','DOMICILIO_CALLE_ENTRE2','DATART_CLAVE_CLIENTE','DATECO_CUIT_EMPLEADOR','DATECO_INGRESO_FAMILIAR','DATECO_INGRESO_PERSONAL','DATECO_AUTONOMO','DATECO_RAZON_SOCIAL_EMPLEADOR','DATECO_ACT_F_AUTONOMO','DATECO_ACT_F_INGRESO_FAMILIAR','DATECO_ACT_F_INGRESO_PERSONAL','DATECO_ACT_F_TRABAJA','DATECO_OBSERVACIONES','DATECO_TELEFONO_EMPLEADOR','DATECO_DOMICILIO_EMPLEADOR','DATMAR_CANTIDAD_HIJOS','DATMAR_CLUB','DATMAR_COMPLETO_ESTUDIOS','DATMAR_NIVEL_EDUCACION','DATMAR_PUNTAJE','DATMAR_VIAJES_ANUALES','DATMAR_ACT_F_CANTIDAD_HIJOS','DATMAR_ACT_F_CLUB','DATMAR_ACT_F_COMPLETO_ESTUDIOS','DATMAR_ACT_F_NIVEL_EDUCACION','DATMAR_ACT_F_PUNTAJE','DATMAR_ACT_F_VIAJES_ANUALES','OPERADOR','DATECO_TIPO_ACTIVIDAD','DATMAR_VACACIONES','DATMAR_HOBBIE','DOMICILIO_TRAMO_ID','DOMICILIO_ID_ENTRE_1','DOMICILIO_ID_ENTRE_2','ACT_F','ACT_U','DOMICILIO_SEMAFORO','TELEFONO_SEMAFORO','ESTADO_CIVIL_SEMAFORO','FECHA_NACIMIENTO_SEMAFORO','TIPO_DOMICILIO','PREFIJO_INTERNACIONAL','PREFIJO_INTERURBANO','TIPO_TELEFONO','CODIGO_NACION','ACT_F_APELLIDO','ACT_F_NOMBRES','ANO_DE_NACIMIENTO','TELEFONO_ID','DOMICILIO_ID','DOMICILIO_LATITUD','DOMICILIO_LONGITUD','POSICION_IVA','POSICION_IB','NUMERO_IB','DATECO_ACT_U_TIPO_ACTIVIDAD','DATECO_ACT_F_TIPO_ACTIVIDAD','ACT_F_TIPO_DOCUMENTO','ACT_F_NUMERO_DOCUMENTO','VALIDO','NEWSLETTER','SEGMENTABLE','ESTADO_CLIENTE','PADRE','TIPO_ORGANIZACION','ACTIVIDAD_SEGURO','MCA_LAVADO','PKUNIVAL','FORMA_JURIDICA','TELEFONO_CEL_ID','MAIL_ID','LUGAR_NACIMIENTO','POLITICAMENTE_EXPUESTA','F_INSC_REGISTRAL','NRO_INSC_REGISTRAL','F_CONTRATO_SOCIAL','MCA_SUSP_COBERTURA','MOTIVO_MCA_LAVADO','POLITICAMENTE_EXPUESTA_DDJJ','DATECO_FECHA_TIPO_ACT','CONFIRMADO_FNAC','USUARIO_RED_SOCIAL_ID','OBSERVACION_LAVADO']

### Now write the file

**If it was a big file, read it completely with this line**

In [7]:
chunks = pd.read_csv(f"{location}/{table}",
                         sep=sep,
                         encoding=encoding,
                         decimal=decimal,
                         chunksize=1000000)
df = pd.concat(chunks)

/home/voolkia/anaconda3/envs/test/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/voolkia/anaconda3/envs/test/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/voolkia/anaconda3/envs/test/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/voolkia/anaconda3/envs/test/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (10,16) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
f = open(f'../../docs/{table} feature description.csv','w')
f.write('Column;Used;Null Rate; Type; Unique values; Values\n')
for column in df.columns:
    
    null_rate = round(df[column].isna().mean()*100,2)
    
    unique_vals = df[column].nunique()
    
    if null_rate < .5 and unique_vals > 1:
        used = 'X'
    else:
        used=''
    
    dtype = df[column].dtype
    
    if(dtype == 'object'):
        values = f"Top 10:\n{df[column].value_counts(dropna=False).head(10).to_string()}"
    else:
        values = f'[{df[column].min()};{df[column].max()}]'
        
    f.write(f'{column};{used};{null_rate};{dtype};{unique_vals};"{values}"\n')
    
f.close()