In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

ModuleNotFoundError: No module named 'tqdm'

In [56]:
#leer la bd
df = pd.read_csv("../../data/processed/4.4/tmp/BD_ID_CLIENTE_N.POLIZA_X_MES_actual.csv", index_col="Unnamed: 0")
df.head()

,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,...,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12
1690,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [57]:
#agrego la bd de datos cliente
df_cli = pd.read_csv("../../data/processed/BD_ID_CLIENTE_D.Pers_Modo.Pago.csv", index_col="Unnamed: 0")
df_cli.head()

,CUSTOMER_ID,DATE_OF_BIRTH,GENDER,MARITAL_STATUS,EDUCATION,EDUCATION_LEVEL,OCCUPATION,CITY,LOCALITY,FECHA_PROCESO,edad,ModoPago,edad_r
0,10374168,1953-10-31,F,Divorciado,N,NaN,ADMI,BUENOS AIRES,ITUZAINGO,31/01/2014,64.0,Mix,5.0
86,12897415,1956-12-02,M,Casado,NaN,NaN,NaN,SANTA FE,AVELLANEDA,31/01/2014,61.0,Mix,5.0
112,1386644,1951-12-24,M,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2014,66.0,Mix,5.0
181,6118007,1950-08-13,F,Casado,NaN,NaN,EMPL,NaN,NaN,31/01/2014,67.0,Mix,5.0
300,4714574,1967-08-30,F,Casado,NaN,NaN,DOCE,BUENOS AIRES,SAN MARTIN,31/01/2014,50.0,Mix,4.0

In [58]:
df_cli.set_index("CUSTOMER_ID", inplace=True)
df_cli.head()

,DATE_OF_BIRTH,GENDER,MARITAL_STATUS,EDUCATION,EDUCATION_LEVEL,OCCUPATION,CITY,LOCALITY,FECHA_PROCESO,edad,ModoPago,edad_r
CUSTOMER_ID,,,,,,,,,,,,
10374168,1953-10-31,F,Divorciado,N,NaN,ADMI,BUENOS AIRES,ITUZAINGO,31/01/2014,64.0,Mix,5.0
12897415,1956-12-02,M,Casado,NaN,NaN,NaN,SANTA FE,AVELLANEDA,31/01/2014,61.0,Mix,5.0
1386644,1951-12-24,M,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2014,66.0,Mix,5.0
6118007,1950-08-13,F,Casado,NaN,NaN,EMPL,NaN,NaN,31/01/2014,67.0,Mix,5.0
4714574,1967-08-30,F,Casado,NaN,NaN,DOCE,BUENOS AIRES,SAN MARTIN,31/01/2014,50.0,Mix,4.0

In [59]:
df_cli.sort_index(inplace=True)
df_cli.head()

,DATE_OF_BIRTH,GENDER,MARITAL_STATUS,EDUCATION,EDUCATION_LEVEL,OCCUPATION,CITY,LOCALITY,FECHA_PROCESO,edad,ModoPago,edad_r
CUSTOMER_ID,,,,,,,,,,,,
1690,1943-03-06,M,Casado,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0
5575,1966-06-10,M,Casado,NaN,NaN,ESCB,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2017,51.0,Mix,4.0
7968,1911-01-11,M,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2018,107.0,CC,0.0
9028,1961-07-15,M,Casado,NaN,NaN,ARQU,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2018,56.0,Mix,4.0
9860,1967-04-06,M,Soltero,NaN,NaN,EMPL,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,50.0,Mix,4.0

In [60]:
df_canc = pd.read_csv("../../data/processed/4.4/tmp/mes actual - BD_ID_CLIENTE_N.CANCELACIONES_X_MES.csv", index_col="Unnamed: 0")
df_canc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41754 entries, 1690 to 21260067
Columns: 166 entries, 2004-03 to 2017-12
dtypes: float64(166)
memory usage: 53.2 MB

In [61]:
df.head()

,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,...,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12
1690,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [62]:
df_canc.head()

,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,2004-12,...,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
7968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [63]:
df_canc["2017-12"].value_counts()

1.0    969
2.0     18
3.0      2
4.0      1
Name: 2017-12, dtype: int64

In [64]:
df_rel = pd.read_csv("../../data/processed/4.4/tmp/BD_ID_CLIENTE_N.INTERACCIONES-GENERALES_X_MES.csv", index_col="Unnamed: 0")
df_rel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48704 entries, 1000002 to 9999396
Data columns (total 61 columns):
2013-01    8305 non-null float64
2013-02    7536 non-null float64
2013-03    8435 non-null float64
2013-04    8851 non-null float64
2013-05    9467 non-null float64
2013-06    8731 non-null float64
2013-07    9879 non-null float64
2013-08    9599 non-null float64
2013-09    9181 non-null float64
2013-10    11058 non-null float64
2013-11    11214 non-null float64
2013-12    12913 non-null float64
2014-01    14679 non-null float64
2014-02    13908 non-null float64
2014-03    14773 non-null float64
2014-04    16164 non-null float64
2014-05    17499 non-null float64
2014-06    16654 non-null float64
2014-07    16489 non-null float64
2014-08    16073 non-null float64
2014-09    18184 non-null float64
2014-10    17242 non-null float64
2014-11    16492 non-null float64
2014-12    18412 non-null float64
2015-01    19964 non-null float64
2015-02    18099 non-null float64
2015-03    18920 non-null float64
2015-04    21348 non-null float64
2015-05    21123 non-null float64
2015-06    21867 non-null float64
2015-07    22443 non-null float64
2015-08    21428 non-null float64
2015-09    22253 non-null float64
2015-10    21818 non-null float64
2015-11    22229 non-null float64
2015-12    24016 non-null float64
2016-01    24886 non-null float64
2016-02    24025 non-null float64
2016-03    23968 non-null float64
2016-04    23112 non-null float64
2016-05    23183 non-null float64
2016-06    23384 non-null float64
2016-07    23331 non-null float64
2016-08    23541 non-null float64
2016-09    22818 non-null float64
2016-10    21939 non-null float64
2016-11    22214 non-null float64
2016-12    22487 non-null float64
2017-01    22640 non-null float64
2017-02    21900 non-null float64
2017-03    22109 non-null float64
2017-04    21257 non-null float64
2017-05    22438 non-null float64
2017-06    21742 non-null float64
2017-07    21798 non-null float64
2017-08    21562 non-null float64
2017-09    21273 non-null float64
2017-10    22337 non-null float64
2017-11    20777 non-null float64
2017-12    20772 non-null float64
2018-01    21006 non-null float64
dtypes: float64(61)
memory usage: 23.0 MB

In [65]:
df_rel.sort_index(inplace=True)
df_rel=df_rel.iloc[:,:-1]
df_rel.head()

,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,...,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12
1690,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,2.0,3.0,...,NaN,2.0,NaN,1.0,NaN,7.0,19.0,2.0,3.0,3.0
7968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9028,4.0,5.0,1.0,1.0,3.0,3.0,1.0,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,6.0,4.0,2.0,6.0,3.0,2.0
9860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,2.0,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN

# Test set cliente

In [66]:
#obtengo los Ãºltimos 6 meses - (3 siguientes a predecir)
bd = df.iloc[:,-12:]
bd.head()
#df_canc3 = df.iloc[:,-3:] #cancelar no lo puedo usar xq no tengo esa info. es lo que debo predecir.
df_rel6 = df_rel.iloc[:,-12:]

In [67]:
df_int = pd.merge(bd, df_cli, left_index=True, right_index=True)
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Data columns (total 24 columns):
2017-01            35655 non-null float64
2017-02            35291 non-null float64
2017-03            34799 non-null float64
2017-04            34309 non-null float64
2017-05            33758 non-null float64
2017-06            33290 non-null float64
2017-07            32836 non-null float64
2017-08            32344 non-null float64
2017-09            31865 non-null float64
2017-10            31369 non-null float64
2017-11            30960 non-null float64
2017-12            30585 non-null float64
DATE_OF_BIRTH      48937 non-null object
GENDER             49975 non-null object
MARITAL_STATUS     45029 non-null object
EDUCATION          16129 non-null object
EDUCATION_LEVEL    1409 non-null object
OCCUPATION         28792 non-null object
CITY               38608 non-null object
LOCALITY           38608 non-null object
FECHA_PROCESO      50000 non-null object
edad               48937 non-null float64
ModoPago           50000 non-null object
edad_r             48937 non-null float64
dtypes: float64(14), object(10)
memory usage: 10.8+ MB

In [68]:
df_int = pd.merge(df_int, df_rel6, left_index=True, right_index=True, suffixes=["", "_rel"])
df_int

,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,...,2017-03_rel,2017-04_rel,2017-05_rel,2017-06_rel,2017-07_rel,2017-08_rel,2017-09_rel,2017-10_rel,2017-11_rel,2017-12_rel
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,NaN,2.0,NaN,1.0,NaN,7.0,19.0,2.0,3.0,3.0
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9028,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,6.0,4.0,2.0,6.0,3.0,2.0
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,12.0,2.0,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN
11820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN
16007,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
16318,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17153,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,10.0,1.0,1.0,16.0,6.0,2.0,7.0,4.0,4.0,7.0
22597,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,...,1.0,7.0,11.0,2.0,5.0,1.0,9.0,5.0,2.0,1.0
36963,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,6.0,3.0,3.0,3.0,5.0,1.0,5.0,5.0,7.0
46830,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
49480,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,4.0,5.0,4.0,4.0,10.0,6.0,6.0,1.0,1.0,NaN
51373,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,4.0,4.0,1.0,NaN,NaN,NaN,NaN
51457,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,1.0,2.0
57711,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,...,4.0,2.0,11.0,4.0,13.0,14.0,9.0,9.0,8.0,6.0
60469,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,4.0,2.0,2.0,4.0,2.0,3.0,2.0
61491,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70296,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,2.0
72677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72848,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73897,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77051,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
83180,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,3.0,3.0,1.0,3.0,2.0,3.0,5.0,3.0,2.0
87783,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,3.0,9.0,5.0,3.0,3.0,3.0,4.0,4.0,3.0
88265,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,5.0,14.0,5.0,3.0,5.0,9.0,4.0,9.0,1.0,5.0
88967,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
90576,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,NaN,NaN,NaN,6.0,4.0,5.0,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21080477,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,4.0,1.0,6.0,4.0,2.0,2.0,2.0,2.0,1.0
21080534,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21080547,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,2.0,3.0,NaN,NaN
21080567,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21080679,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
21080883,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0
21081698,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21081753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21081997,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,...,NaN,10.0,15.0,2.0,9.0,NaN,NaN,12.0,NaN,NaN
21082406,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
21082644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21082824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21082830,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21082838,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,NaN,1.0,NaN,1.0,7.0,NaN,NaN,4.0,NaN
21083403,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,11.0,10.0,4.0,2.0,2.0,3.0,13.0,4.0,4.0,4.0
21083405,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,5.0,2.0,16.0,1.0,1.0,1.0,1.0,2.0,1.0,9.0
21092051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21092637,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,NaN,2.0
21095155,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,1.0,1.0
21095329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21095429,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,6.0,3.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,4.0
21095480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21095517,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21095767,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,1.0,NaN,2.0,NaN,1.0,NaN,NaN
21095944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21095997,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21096026,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,3.0,2.0,3.0,3.0,3.0,3.0,1.0,NaN,NaN,NaN
21096066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21096072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21179943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
#variables descartadas
delete_cols = ["DATE_OF_BIRTH", "FECHA_PROCESO", "OCCUPATION"] #", LOCALITY", "edad"
df_fin = df_int.drop(delete_cols, axis=1)
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48704 entries, 1690 to 21179943
Data columns (total 33 columns):
2017-01            34522 non-null float64
2017-02            34159 non-null float64
2017-03            33672 non-null float64
2017-04            33182 non-null float64
2017-05            32642 non-null float64
2017-06            32174 non-null float64
2017-07            31721 non-null float64
2017-08            31233 non-null float64
2017-09            30760 non-null float64
2017-10            30267 non-null float64
2017-11            29859 non-null float64
2017-12            29486 non-null float64
GENDER             48688 non-null object
MARITAL_STATUS     43982 non-null object
EDUCATION          15991 non-null object
EDUCATION_LEVEL    1390 non-null object
CITY               38468 non-null object
LOCALITY           38468 non-null object
edad               47854 non-null float64
ModoPago           48704 non-null object
edad_r             47854 non-null float64
2017-01_rel        22640 non-null float64
2017-02_rel        21900 non-null float64
2017-03_rel        22109 non-null float64
2017-04_rel        21257 non-null float64
2017-05_rel        22438 non-null float64
2017-06_rel        21742 non-null float64
2017-07_rel        21798 non-null float64
2017-08_rel        21562 non-null float64
2017-09_rel        21273 non-null float64
2017-10_rel        22337 non-null float64
2017-11_rel        20777 non-null float64
2017-12_rel        20772 non-null float64
dtypes: float64(26), object(7)
memory usage: 12.6+ MB

In [70]:
df_fin.columns

Index(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       'GENDER', 'MARITAL_STATUS', 'EDUCATION', 'EDUCATION_LEVEL', 'CITY',
       'LOCALITY', 'edad', 'ModoPago', 'edad_r', '2017-01_rel', '2017-02_rel',
       '2017-03_rel', '2017-04_rel', '2017-05_rel', '2017-06_rel',
       '2017-07_rel', '2017-08_rel', '2017-09_rel', '2017-10_rel',
       '2017-11_rel', '2017-12_rel'],
      dtype='object')

In [71]:
#cambiando el nombre de las fechas a versiÃ³n generica ( 6 meses model)
cols = ["12m", "11m", "10m", "9m", "8m", "7m", "6m", "5m", "4m", "3m", "2m", "1m", "3p", "2p", "1p",'GENDER', 'MARITAL_STATUS', 'EDUCATION', 'EDUCATION_LEVEL', 'CITY',
       'LOCALITY', 'edad', 'ModoPago', 'edad_r', '12m_rel', '11m_rel',
       '10m_rel', '9m_rel', '8m_rel', '7m_rel', '6m_rel', '5m_rel',
       '4m_rel', '3m_rel', '2m_rel', '1m_rel']
df_fin.rename(columns=dict(zip(df_fin.columns, cols)),inplace=True)
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48704 entries, 1690 to 21179943
Data columns (total 33 columns):
12m                34522 non-null float64
11m                34159 non-null float64
10m                33672 non-null float64
9m                 33182 non-null float64
8m                 32642 non-null float64
7m                 32174 non-null float64
6m                 31721 non-null float64
5m                 31233 non-null float64
4m                 30760 non-null float64
3m                 30267 non-null float64
2m                 29859 non-null float64
1m                 29486 non-null float64
3p                 48688 non-null object
2p                 43982 non-null object
1p                 15991 non-null object
GENDER             1390 non-null object
MARITAL_STATUS     38468 non-null object
EDUCATION          38468 non-null object
EDUCATION_LEVEL    47854 non-null float64
CITY               48704 non-null object
LOCALITY           47854 non-null float64
edad               22640 non-null float64
ModoPago           21900 non-null float64
edad_r             22109 non-null float64
12m_rel            21257 non-null float64
11m_rel            22438 non-null float64
10m_rel            21742 non-null float64
9m_rel             21798 non-null float64
8m_rel             21562 non-null float64
7m_rel             21273 non-null float64
6m_rel             22337 non-null float64
5m_rel             20777 non-null float64
4m_rel             20772 non-null float64
dtypes: float64(26), object(7)
memory usage: 12.6+ MB

In [72]:
X = df_fin
#X = pd.get_dummies(df_fin)
#X.info()

In [73]:
#elimino aquellos registros que ya se que no son mÃ¡s clientes
X = X[X.iloc[:,:12].sum(axis=1) > 0]
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35606 entries, 5575 to 21096026
Data columns (total 33 columns):
12m                34522 non-null float64
11m                34159 non-null float64
10m                33672 non-null float64
9m                 33182 non-null float64
8m                 32642 non-null float64
7m                 32174 non-null float64
6m                 31721 non-null float64
5m                 31233 non-null float64
4m                 30760 non-null float64
3m                 30267 non-null float64
2m                 29859 non-null float64
1m                 29486 non-null float64
3p                 35593 non-null object
2p                 32375 non-null object
1p                 11670 non-null object
GENDER             1124 non-null object
MARITAL_STATUS     28367 non-null object
EDUCATION          28367 non-null object
EDUCATION_LEVEL    34835 non-null float64
CITY               35606 non-null object
LOCALITY           34835 non-null float64
edad               21540 non-null float64
ModoPago           21076 non-null float64
edad_r             21433 non-null float64
12m_rel            20659 non-null float64
11m_rel            21861 non-null float64
10m_rel            21170 non-null float64
9m_rel             21213 non-null float64
8m_rel             20996 non-null float64
7m_rel             20721 non-null float64
6m_rel             21607 non-null float64
5m_rel             20249 non-null float64
4m_rel             20253 non-null float64
dtypes: float64(26), object(7)
memory usage: 9.2+ MB

In [74]:
#X.fillna(0, inplace=True) #reemplazo nulos por 0
# = X.astype("uint8") #cambio el tipo de los datos
#X.info()

In [75]:
#X.info()

In [76]:
X.to_csv("../../data/processed/4.5/prediccion_para_cliente/m1.0 - anual - pred 3 meses - 12m.N.polizaXmes, Info.Cliente, interacciÃ³n y cancelacion.M.Pago.csv")

In [77]:
X = pd.read_csv("../../data/processed/4.5/prediccion_para_cliente/m1.0 - anual - pred 3 meses - 12m.N.polizaXmes, Info.Cliente, interacciÃ³n y cancelacion.M.Pago.csv", index_col="Unnamed: 0")
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35606 entries, 5575 to 21096026
Data columns (total 33 columns):
12m                34522 non-null float64
11m                34159 non-null float64
10m                33672 non-null float64
9m                 33182 non-null float64
8m                 32642 non-null float64
7m                 32174 non-null float64
6m                 31721 non-null float64
5m                 31233 non-null float64
4m                 30760 non-null float64
3m                 30267 non-null float64
2m                 29859 non-null float64
1m                 29486 non-null float64
3p                 35593 non-null object
2p                 32375 non-null object
1p                 11670 non-null object
GENDER             1124 non-null object
MARITAL_STATUS     28367 non-null object
EDUCATION          28367 non-null object
EDUCATION_LEVEL    34835 non-null float64
CITY               35606 non-null object
LOCALITY           34835 non-null float64
edad               21540 non-null float64
ModoPago           21076 non-null float64
edad_r             21433 non-null float64
12m_rel            20659 non-null float64
11m_rel            21861 non-null float64
10m_rel            21170 non-null float64
9m_rel             21213 non-null float64
8m_rel             20996 non-null float64
7m_rel             20721 non-null float64
6m_rel             21607 non-null float64
5m_rel             20249 non-null float64
4m_rel             20253 non-null float64
dtypes: float64(26), object(7)
memory usage: 9.2+ MB

In [78]:
X_d = X.drop(['CITY','LOCALITY', 'edad'], axis=1)

In [79]:
X_d = pd.get_dummies(X_d)
X_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35606 entries, 5575 to 21096026
Columns: 2091 entries, 12m to EDUCATION_ZELAYA
dtypes: float64(24), uint8(2067)
memory usage: 77.0 MB

In [80]:
X_d.fillna(0, inplace=True) #reemplazo nulos por 0
X_d = X_d.astype("uint8") #cambio el tipo de los datos
X_d.head()

,12m,11m,10m,9m,8m,7m,6m,5m,4m,3m,...,EDUCATION_YERBA BUENA ( DPTO. TAFI ),EDUCATION_YERBA BUENA ( DPTO. TAFI ESTAFETA 1 ),EDUCATION_YOFRE NORTE,EDUCATION_YOFRE SUR,EDUCATION_YUTO,EDUCATION_ZANJON DE OYUELA,EDUCATION_ZAPALA,EDUCATION_ZARATE,EDUCATION_ZAVALLA,EDUCATION_ZELAYA
5575,2,2,2,2,2,2,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
7968,2,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
9028,2,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
9860,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11820,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [81]:
X_d.to_csv("../../data/processed/4.5/prediccion_para_cliente/m1.0 - anual dummies - pred 3 meses - 12m.N.polizaXmes, Info.Cliente, interacciÃ³n y cancelacion.M.Pago.csv")

# Nuestro test set: churn 3 meses

In [82]:
df.head()

,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,...,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12
1690,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [83]:
#obtengo los Ãºltimos 6 meses - (3 siguientes a predecir)
bd = df.iloc[:,-24:-9]
df_canc3 = df_canc.iloc[:,-12:-9] #para definir churn
df_rel6 = df_rel.iloc[:,-24:-12]
bd.head()

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9028,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [86]:
df_canc3.head()

      2017-01  2017-02  2017-03
1690      NaN      NaN      NaN
5575      NaN      NaN      NaN
7968      NaN      NaN      NaN
9028      NaN      NaN      NaN
9860      NaN      NaN      NaN

In [85]:
len(df_canc3[pd.notnull(df_canc3["2017-10"])])

KeyError: '2017-10'

In [33]:
df_rel6.head()

      2017-07  2017-08  2017-09  2017-10  2017-11  2017-12
1690      NaN      NaN      NaN      NaN      NaN      NaN
5575      NaN      7.0     19.0      2.0      3.0      3.0
7968      NaN      NaN      NaN      NaN      NaN      NaN
9028      6.0      4.0      2.0      6.0      3.0      2.0
9860      NaN      NaN      9.0      3.0      NaN      NaN

In [87]:
df_int = pd.merge(bd, df_cli, left_index=True, right_index=True)
df_int = pd.merge(df_int, df_rel6, left_index=True, right_index=True, suffixes=["", "_rel"])
df_int = pd.merge(df_int, df_canc3, left_index=True, right_index=True, suffixes=["", "_canc"])
df_int.head()

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,...,2016-06_rel,2016-07_rel,2016-08_rel,2016-09_rel,2016-10_rel,2016-11_rel,2016-12_rel,2017-01_canc,2017-02_canc,2017-03_canc
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9028,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,...,2.0,7.0,5.0,23.0,6.0,2.0,9.0,NaN,NaN,NaN
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,10.0,5.0,1.0,14.0,NaN,NaN,NaN

In [90]:
#elimino los ya no clientes
#df_int = 
df_int[df_int.iloc[:,:12].count(axis=1) == 12]

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,...,2016-06_rel,2016-07_rel,2016-08_rel,2016-09_rel,2016-10_rel,2016-11_rel,2016-12_rel,2017-01_canc,2017-02_canc,2017-03_canc
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9028,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,...,2.0,7.0,5.0,23.0,6.0,2.0,9.0,NaN,NaN,NaN
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,10.0,5.0,1.0,14.0,NaN,NaN,NaN
16007,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
16318,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,7.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
17153,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,6.0,1.0,1.0,5.0,1.0,2.0,5.0,NaN,NaN,NaN
22597,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,7.0,3.0,3.0,1.0,2.0,1.0,NaN,NaN,NaN
46830,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,3.0,19.0,2.0,NaN,NaN,NaN,NaN
49480,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,4.0,4.0,4.0,4.0,4.0,3.0,NaN,NaN,NaN
51373,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
51457,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN
57711,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,24.0,13.0,5.0,4.0,10.0,NaN,NaN,NaN
60469,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,15.0,17.0,6.0,3.0,2.0,2.0,NaN,NaN,NaN
61491,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70296,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,NaN,2.0,NaN,7.0,1.0,NaN,NaN,NaN,NaN,NaN
72848,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73897,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,1.0,NaN,7.0,1.0,NaN,4.0,NaN,NaN,NaN
77051,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83180,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,3.0,4.0,1.0,NaN,NaN,NaN
87783,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,3.0,4.0,3.0,3.0,4.0,3.0,NaN,NaN,NaN
88265,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,3.0,1.0,1.0,3.0,2.0,3.0,NaN,NaN,NaN
88967,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
90576,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,10.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
102993,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,3.0,2.0,7.0,3.0,3.0,NaN,NaN,NaN
103316,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,6.0,6.0,8.0,10.0,4.0,10.0,4.0,NaN,NaN,NaN
108705,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,9.0,1.0,1.0,1.0,4.0,1.0,NaN,NaN,NaN
111202,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,7.0,4.0,4.0,5.0,6.0,4.0,4.0,NaN,NaN,NaN
112688,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,5.0,5.0,3.0,3.0,10.0,16.0,NaN,NaN,1.0
116442,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,1.0,5.0,3.0,1.0,5.0,1.0,NaN,NaN,NaN
122512,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21070757,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,1.0,NaN
21070819,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,5.0,7.0,19.0,4.0,1.0,1.0,NaN,1.0,NaN
21070964,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,7.0,5.0,NaN,NaN,NaN
21071428,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
21071501,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
21071504,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
21071711,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,2.0,NaN,NaN,3.0,15.0,2.0,NaN,NaN,NaN
21071835,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
21073429,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
21073819,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
21074133,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,3.0,NaN,NaN,NaN
21075035,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,3.0,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN
21075867,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,35.0,10.0,3.0,2.0,2.0,3.0,NaN,NaN,NaN
21076688,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
21076995,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,18.0,2.0,2.0,3.0,2.0,3.0,NaN,NaN,NaN
21077426,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21077718,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
21078278,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
21078937,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,3.0,NaN,NaN,2.0,NaN,NaN,NaN
21078952,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
21078989,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
21079290,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,6.0,4.0,4.0,4.0,5.0,3.0,19.0,NaN,NaN,NaN
21079727,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
21080534,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21080547,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21080679,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21081997,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,4.0,1.0,15.0,2.0,NaN,NaN,NaN
21083403,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,6.0,8.0,NaN,3.0,NaN,NaN,1.0
21083405,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0
21096026,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,5.0,2.0,1.0,12.0,NaN,NaN,NaN

In [84]:
df.loc[311202:311202,:]

,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,...,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12
311202,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN

In [41]:
df_int["Churn"] = 0
#Regla churn stricta
df_int.loc[ pd.isnull(df_int["2017-12"]) &  pd.isnull(df_int["2017-11"])  &  pd.isnull(df_int["2017-10"]) &  pd.notnull(df_int["2017-09"]) &  pd.notnull(df_int["2017-10_canc"])  , "Churn"] = 1

In [42]:
df_int["Churn"].value_counts()

0    40278
1      629
Name: Churn, dtype: int64

In [44]:
df_int[pd.notnull(df_int["2017-10_canc"])]

,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,DATE_OF_BIRTH,...,2017-08_rel,2017-09_rel,2017-10_rel,2017-11_rel,2017-12_rel,2017-09_canc,2017-10_canc,2017-11_canc,2017-12_canc,Churn
124699,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1971-08-01,...,3.0,11.0,6.0,6.0,5.0,NaN,1.0,NaN,NaN,0
311202,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,1972-08-15,...,5.0,5.0,28.0,3.0,5.0,NaN,2.0,NaN,NaN,1
312340,1.0,1.0,2.0,NaN,2.0,1.0,1.0,1.0,1.0,1974-03-15,...,32.0,15.0,14.0,15.0,17.0,1.0,1.0,NaN,NaN,0
396291,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1968-01-20,...,1.0,14.0,14.0,2.0,1.0,NaN,1.0,NaN,NaN,0
399417,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1955-08-19,...,NaN,1.0,14.0,NaN,NaN,NaN,1.0,NaN,NaN,1
399685,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1932-01-10,...,4.0,13.0,2.0,2.0,1.0,NaN,1.0,NaN,NaN,1
400053,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1957-07-14,...,1.0,16.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1
402188,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1960-05-07,...,2.0,3.0,13.0,2.0,NaN,NaN,1.0,NaN,NaN,1
448912,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1963-11-24,...,2.0,2.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,1
453917,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1945-10-14,...,6.0,23.0,11.0,18.0,5.0,1.0,1.0,NaN,NaN,0
486672,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1942-01-11,...,2.0,1.0,10.0,13.0,1.0,NaN,1.0,NaN,NaN,1
566396,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1949-02-06,...,8.0,4.0,9.0,2.0,1.0,NaN,1.0,NaN,NaN,1
569395,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1966-12-08,...,5.0,14.0,9.0,9.0,3.0,1.0,1.0,NaN,NaN,0
580137,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1965-04-27,...,3.0,14.0,10.0,3.0,NaN,NaN,1.0,NaN,NaN,1
589346,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1958-08-23,...,2.0,2.0,13.0,5.0,2.0,NaN,1.0,NaN,NaN,0
692251,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1953-11-21,...,12.0,8.0,7.0,2.0,1.0,NaN,1.0,NaN,NaN,0
738443,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1968-08-21,...,10.0,12.0,10.0,3.0,5.0,NaN,1.0,NaN,NaN,0
740933,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1959-08-10,...,NaN,6.0,6.0,1.0,1.0,NaN,1.0,NaN,NaN,0
753859,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1948-11-15,...,2.0,2.0,20.0,NaN,NaN,NaN,1.0,NaN,NaN,1
758117,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1958-10-08,...,2.0,6.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1
759307,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1958-09-17,...,20.0,5.0,15.0,5.0,7.0,NaN,1.0,NaN,NaN,0
759750,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1969-10-28,...,2.0,NaN,7.0,NaN,NaN,NaN,1.0,NaN,NaN,1
777240,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1952-05-08,...,28.0,16.0,5.0,8.0,5.0,NaN,1.0,NaN,NaN,0
783839,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1969-05-14,...,7.0,20.0,10.0,1.0,1.0,NaN,1.0,NaN,NaN,0
813615,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1951-07-14,...,2.0,5.0,29.0,23.0,16.0,NaN,1.0,NaN,NaN,0
841847,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1947-06-30,...,NaN,3.0,14.0,1.0,NaN,NaN,1.0,NaN,NaN,0
852347,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1970-09-01,...,3.0,19.0,21.0,5.0,3.0,1.0,1.0,NaN,NaN,0
872955,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1955-07-11,...,2.0,2.0,20.0,3.0,5.0,NaN,1.0,NaN,NaN,0
882566,2.0,2.0,2.0,2.0,2.0,3.0,2.0,1.0,1.0,1900-01-01,...,NaN,1.0,NaN,1.0,NaN,NaN,2.0,1.0,NaN,0
886048,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1960-01-11,...,NaN,5.0,3.0,2.0,NaN,NaN,1.0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20990822,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1981-04-17,...,2.0,12.0,12.0,NaN,NaN,NaN,1.0,NaN,NaN,1
20991967,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1982-11-28,...,NaN,NaN,13.0,1.0,5.0,NaN,1.0,NaN,NaN,0
20992469,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1955-02-16,...,2.0,6.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,1
20992480,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1949-03-20,...,2.0,4.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1
20996022,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1977-06-18,...,NaN,11.0,5.0,NaN,NaN,NaN,1.0,NaN,NaN,1
20998804,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1961-07-05,...,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1
21001812,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,1973-07-12,...,NaN,1.0,11.0,5.0,NaN,NaN,1.0,NaN,1.0,0
21008224,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1955-01-10,...,2.0,1.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,1
21009515,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1995-05-01,...,2.0,7.0,18.0,5.0,NaN,NaN,1.0,NaN,NaN,1
21011117,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1976-11-06,...,NaN,NaN,4.0,3.0,NaN,NaN,1.0,NaN,NaN,0
21033529,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1980-11-06,...,NaN,7.0,4.0,NaN,NaN,NaN,1.0,NaN,NaN,0
21042016,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1952-05-03,...,NaN,1.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,1
21048009,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1987-04-07,...,2.0,3.0,7.0,1.0,NaN,NaN,1.0,NaN,NaN,1
21048939,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1982-08-15,...,5.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1
21049194,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1983-01-06,...,15.0,6.0,19.0,5.0,20.0,NaN,1.0,NaN,1.0,0
21050365,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1968-09-28,...,1.0,1.0,2.0,3.0,2.0,NaN,1.0,NaN,NaN,0
21051766,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1983-04-13,...,NaN,9.0,16.0,10.0,5.0,NaN,1.0,NaN,NaN,0
21055039,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1970-07-28,...,3.0,3.0,3.0,NaN,2.0,NaN,1.0,NaN,NaN,0
21056943,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1963-05-22,...,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,1
21056964,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1995-01-03,...,1.0,3.0,6.0,8.0,NaN,NaN,1.0,NaN,NaN,1
21058162,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1988-05-13,...,NaN,NaN,6.0,NaN,NaN,NaN,1.0,NaN,NaN,0
21059977,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1985-07-18,...,7.0,4.0,16.0,7.0,4.0,NaN,1.0,NaN,NaN,0
21064752,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1977-09-27,...,2.0,2.0,11.0,3.0,NaN,NaN,1.0,NaN,NaN,0
21070708,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1988-03-25,...,3.0,2.0,2.0,2.0,2.0,NaN,1.0,NaN,NaN,1
21071711,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1970-01-26,...,NaN,6.0,17.0,NaN,NaN,NaN,1.0,NaN,NaN,1
21074133,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1981-03-31,...,11.0,16.0,22.0,6.0,7.0,NaN,1.0,NaN,1.0,0
21076995,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1967-12-27,...,4.0,3.0,23.0,3.0,13.0,NaN,1.0,NaN,1.0,0
21078989,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1965-08-25,...,5.0,12.0,18.0,1.0,1.0,NaN,1.0,NaN,NaN,1
21080547,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1987-09-12,...,NaN,2.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,1
21081997,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1972-01-04,...,NaN,NaN,12.0,NaN,NaN,NaN,1.0,NaN,NaN,0

In [86]:
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39102 entries, 1690 to 20609007
Data columns (total 32 columns):
2017-04            24503 non-null float64
2017-05            24035 non-null float64
2017-06            23619 non-null float64
2017-07            23227 non-null float64
2017-08            22797 non-null float64
2017-09            22374 non-null float64
2017-10            21944 non-null float64
2017-11            21586 non-null float64
2017-12            21262 non-null float64
DATE_OF_BIRTH      38587 non-null object
GENDER             39086 non-null object
MARITAL_STATUS     35704 non-null object
EDUCATION          12790 non-null object
EDUCATION_LEVEL    1245 non-null object
OCCUPATION         24379 non-null object
CITY               30378 non-null object
LOCALITY           30378 non-null object
FECHA_PROCESO      39102 non-null object
edad               38587 non-null float64
ModoPago           39102 non-null object
edad_r             38587 non-null float64
2017-07_rel        16975 non-null float64
2017-08_rel        16720 non-null float64
2017-09_rel        16398 non-null float64
2017-10_rel        17054 non-null float64
2017-11_rel        15965 non-null float64
2017-12_rel        15888 non-null float64
2017-09_canc       1106 non-null float64
2017-10_canc       1059 non-null float64
2017-11_canc       1025 non-null float64
2017-12_canc       914 non-null float64
Churn              39102 non-null int64
dtypes: float64(21), int64(1), object(10)
memory usage: 9.8+ MB

In [45]:
#variables descartadas
delete_cols = ["DATE_OF_BIRTH", "FECHA_PROCESO", "OCCUPATION"]#, "LOCALITY", "edad"]
df_int.drop(delete_cols, axis=1, inplace=True)
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40907 entries, 1690 to 21096072
Data columns (total 29 columns):
2017-04            25397 non-null float64
2017-05            24858 non-null float64
2017-06            24390 non-null float64
2017-07            23937 non-null float64
2017-08            23449 non-null float64
2017-09            22976 non-null float64
2017-10            22483 non-null float64
2017-11            22075 non-null float64
2017-12            21702 non-null float64
GENDER             40891 non-null object
MARITAL_STATUS     37215 non-null object
EDUCATION          13303 non-null object
EDUCATION_LEVEL    1247 non-null object
CITY               32145 non-null object
LOCALITY           32145 non-null object
edad               40377 non-null float64
ModoPago           40907 non-null object
edad_r             40377 non-null float64
2017-07_rel        17494 non-null float64
2017-08_rel        17215 non-null float64
2017-09_rel        16876 non-null float64
2017-10_rel        17542 non-null float64
2017-11_rel        16370 non-null float64
2017-12_rel        16279 non-null float64
2017-09_canc       1186 non-null float64
2017-10_canc       1161 non-null float64
2017-11_canc       1104 non-null float64
2017-12_canc       985 non-null float64
Churn              40907 non-null int64
dtypes: float64(21), int64(1), object(7)
memory usage: 9.4+ MB

In [46]:
#elimino los 3 meses usados para definir el churn
df_fin = df_int.drop(["2017-11", "2017-12", "2017-10", "2017-09_canc",
                      "2017-10_canc", "2017-11_canc", "2017-12_canc" ], axis=1)
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40907 entries, 1690 to 21096072
Data columns (total 22 columns):
2017-04            25397 non-null float64
2017-05            24858 non-null float64
2017-06            24390 non-null float64
2017-07            23937 non-null float64
2017-08            23449 non-null float64
2017-09            22976 non-null float64
GENDER             40891 non-null object
MARITAL_STATUS     37215 non-null object
EDUCATION          13303 non-null object
EDUCATION_LEVEL    1247 non-null object
CITY               32145 non-null object
LOCALITY           32145 non-null object
edad               40377 non-null float64
ModoPago           40907 non-null object
edad_r             40377 non-null float64
2017-07_rel        17494 non-null float64
2017-08_rel        17215 non-null float64
2017-09_rel        16876 non-null float64
2017-10_rel        17542 non-null float64
2017-11_rel        16370 non-null float64
2017-12_rel        16279 non-null float64
Churn              40907 non-null int64
dtypes: float64(14), int64(1), object(7)
memory usage: 7.2+ MB

In [47]:
df_fin.columns

Index(['2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09',
       'GENDER', 'MARITAL_STATUS', 'EDUCATION', 'EDUCATION_LEVEL', 'CITY',
       'LOCALITY', 'edad', 'ModoPago', 'edad_r', '2017-07_rel', '2017-08_rel',
       '2017-09_rel', '2017-10_rel', '2017-11_rel', '2017-12_rel', 'Churn'],
      dtype='object')

In [48]:
#cambiando el nombre de las fechas a versiÃ³n generica ( 6 meses model)
cols = ["6m", "5m", "4m", "3m", "2m", "1m",
       'GENDER', 'MARITAL_STATUS', 'EDUCATION', 'EDUCATION_LEVEL', 'CITY',
       'LOCALITY', 'edad', 'ModoPago', 'edad_r', 
       '6m_rel', '5m_rel', '4m_rel', '3m_rel', '2m_rel', '1m_rel', 'Churn']
df_fin.rename(columns=dict(zip(df_fin.columns, cols)),inplace=True)
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40907 entries, 1690 to 21096072
Data columns (total 22 columns):
6m                 25397 non-null float64
5m                 24858 non-null float64
4m                 24390 non-null float64
3m                 23937 non-null float64
2m                 23449 non-null float64
1m                 22976 non-null float64
GENDER             40891 non-null object
MARITAL_STATUS     37215 non-null object
EDUCATION          13303 non-null object
EDUCATION_LEVEL    1247 non-null object
CITY               32145 non-null object
LOCALITY           32145 non-null object
edad               40377 non-null float64
ModoPago           40907 non-null object
edad_r             40377 non-null float64
6m_rel             17494 non-null float64
5m_rel             17215 non-null float64
4m_rel             16876 non-null float64
3m_rel             17542 non-null float64
2m_rel             16370 non-null float64
1m_rel             16279 non-null float64
Churn              40907 non-null int64
dtypes: float64(14), int64(1), object(7)
memory usage: 7.2+ MB

In [50]:
#elimino aquellos registros que ya se que no son mÃ¡s clientes
df_fin = df_fin[df_fin.iloc[:,:6].sum(axis=1) > 0]
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26026 entries, 5575 to 21096026
Data columns (total 22 columns):
6m                 25397 non-null float64
5m                 24858 non-null float64
4m                 24390 non-null float64
3m                 23937 non-null float64
2m                 23449 non-null float64
1m                 22976 non-null float64
GENDER             26013 non-null object
MARITAL_STATUS     24030 non-null object
EDUCATION          8381 non-null object
EDUCATION_LEVEL    933 non-null object
CITY               20503 non-null object
LOCALITY           20503 non-null object
edad               25590 non-null float64
ModoPago           26026 non-null object
edad_r             25590 non-null float64
6m_rel             16733 non-null float64
5m_rel             16494 non-null float64
4m_rel             16162 non-null float64
3m_rel             16525 non-null float64
2m_rel             15571 non-null float64
1m_rel             15440 non-null float64
Churn              26026 non-null int64
dtypes: float64(14), int64(1), object(7)
memory usage: 4.6+ MB

In [51]:
df_fin.to_csv("../../data/processed/4.4/test_cliente/m1.0 - mes actual - pred 3 meses exacto - 6m.N.polizaXmes, Info.Cliente, interacciÃ³n y cancelacion.M.Pago.csv")

In [96]:
X = df_fin.drop(['CITY','LOCALITY', 'edad'], axis=1)

In [97]:
X = pd.get_dummies(X)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39102 entries, 1690 to 20609007
Data columns (total 37 columns):
6m                               24503 non-null float64
5m                               24035 non-null float64
4m                               23619 non-null float64
3m                               23227 non-null float64
2m                               22797 non-null float64
1m                               22374 non-null float64
edad_r                           38587 non-null float64
6m_rel                           16975 non-null float64
5m_rel                           16720 non-null float64
4m_rel                           16398 non-null float64
3m_rel                           17054 non-null float64
2m_rel                           15965 non-null float64
1m_rel                           15888 non-null float64
Churn                            39102 non-null int64
GENDER_F                         39102 non-null uint8
GENDER_M                         39102 non-null uint8
MARITAL_STATUS_Casado            39102 non-null uint8
MARITAL_STATUS_Conviv            39102 non-null uint8
MARITAL_STATUS_Divorciado        39102 non-null uint8
MARITAL_STATUS_No Corresp        39102 non-null uint8
MARITAL_STATUS_Separado          39102 non-null uint8
MARITAL_STATUS_Soltero           39102 non-null uint8
MARITAL_STATUS_Union Civ         39102 non-null uint8
MARITAL_STATUS_Viudo             39102 non-null uint8
EDUCATION_N                      39102 non-null uint8
EDUCATION_S                      39102 non-null uint8
EDUCATION_LEVEL_PRIMARIO         39102 non-null uint8
EDUCATION_LEVEL_SECUNDARIO       39102 non-null uint8
EDUCATION_LEVEL_TERCIARIO        39102 non-null uint8
EDUCATION_LEVEL_UNIVERSITARIO    39102 non-null uint8
ModoPago_BA                      39102 non-null uint8
ModoPago_CC                      39102 non-null uint8
ModoPago_Mix                     39102 non-null uint8
ModoPago_PP                      39102 non-null uint8
ModoPago_SJ                      39102 non-null uint8
ModoPago_TA                      39102 non-null uint8
ModoPago_TM                      39102 non-null uint8
dtypes: float64(13), int64(1), uint8(23)
memory usage: 5.3 MB

In [98]:
X.fillna(0, inplace=True) #reemplazo nulos por 0
#X = X.astype("uint8") #cambio el tipo de los datos
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39102 entries, 1690 to 20609007
Data columns (total 37 columns):
6m                               39102 non-null float64
5m                               39102 non-null float64
4m                               39102 non-null float64
3m                               39102 non-null float64
2m                               39102 non-null float64
1m                               39102 non-null float64
edad_r                           39102 non-null float64
6m_rel                           39102 non-null float64
5m_rel                           39102 non-null float64
4m_rel                           39102 non-null float64
3m_rel                           39102 non-null float64
2m_rel                           39102 non-null float64
1m_rel                           39102 non-null float64
Churn                            39102 non-null int64
GENDER_F                         39102 non-null uint8
GENDER_M                         39102 non-null uint8
MARITAL_STATUS_Casado            39102 non-null uint8
MARITAL_STATUS_Conviv            39102 non-null uint8
MARITAL_STATUS_Divorciado        39102 non-null uint8
MARITAL_STATUS_No Corresp        39102 non-null uint8
MARITAL_STATUS_Separado          39102 non-null uint8
MARITAL_STATUS_Soltero           39102 non-null uint8
MARITAL_STATUS_Union Civ         39102 non-null uint8
MARITAL_STATUS_Viudo             39102 non-null uint8
EDUCATION_N                      39102 non-null uint8
EDUCATION_S                      39102 non-null uint8
EDUCATION_LEVEL_PRIMARIO         39102 non-null uint8
EDUCATION_LEVEL_SECUNDARIO       39102 non-null uint8
EDUCATION_LEVEL_TERCIARIO        39102 non-null uint8
EDUCATION_LEVEL_UNIVERSITARIO    39102 non-null uint8
ModoPago_BA                      39102 non-null uint8
ModoPago_CC                      39102 non-null uint8
ModoPago_Mix                     39102 non-null uint8
ModoPago_PP                      39102 non-null uint8
ModoPago_SJ                      39102 non-null uint8
ModoPago_TA                      39102 non-null uint8
ModoPago_TM                      39102 non-null uint8
dtypes: float64(13), int64(1), uint8(23)
memory usage: 5.3 MB

In [73]:
X.head()

,6m,5m,4m,3m,2m,1m,Churn,edad_r,GENDER_F,GENDER_M,...,CITY_SANTIAGO DEL ESTERO,CITY_TIERRA DEL FUEGO,CITY_TUCUMAN,ModoPago_BA,ModoPago_CC,ModoPago_Mix,ModoPago_PP,ModoPago_SJ,ModoPago_TA,ModoPago_TM
1690,0,0,0,0,0,0,0,5,0,1,...,0,0,0,0,1,0,0,0,0,0
5575,2,2,2,2,2,1,0,4,0,1,...,0,0,0,0,0,1,0,0,0,0
7968,2,2,2,2,2,2,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
9028,2,2,2,2,2,2,0,4,0,1,...,0,0,0,0,0,1,0,0,0,0
9860,1,1,1,1,1,0,0,4,0,1,...,0,0,0,0,0,1,0,0,0,0

In [99]:
X.to_csv("../../data/processed/4.4/test_cliente/m1.0 - mes actual dummies - churn estricto - 6m.N.polizaXmes y Info.Cliente.M.Pago.csv")

# Nuestro test set: churn no estricto (3 meses null, 1 no null)

In [77]:
#obtengo los Ãºltimos 6 meses - (3 siguientes a predecir)
bd = df.iloc[:,-9:]
bd.head()

,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9028,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9860,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [78]:
bd["Churn"] = 0
#Regla churn no estricta: 3 null y luego 1 no null
bd.loc[ pd.isnull(bd["2018-01"]) &  pd.isnull(bd["2017-12"])  &  pd.isnull(bd["2017-11"]) &  pd.notnull(bd["2017-10"]) , "Churn"] = 1

/home/seba/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/seba/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [79]:
bd["Churn"].value_counts()

0    49366
1      634
Name: Churn, dtype: int64

In [83]:
df_int = pd.merge(bd, df_cli, left_index=True, right_index=True)
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Data columns (total 22 columns):
2017-05            34309 non-null float64
2017-06            33758 non-null float64
2017-07            33290 non-null float64
2017-08            32836 non-null float64
2017-09            32344 non-null float64
2017-10            31865 non-null float64
2017-11            31369 non-null float64
2017-12            30960 non-null float64
2018-01            30585 non-null float64
Churn              50000 non-null int64
DATE_OF_BIRTH      48937 non-null object
GENDER             49975 non-null object
MARITAL_STATUS     45029 non-null object
EDUCATION          16129 non-null object
EDUCATION_LEVEL    1409 non-null object
OCCUPATION         28792 non-null object
CITY               38608 non-null object
LOCALITY           38608 non-null object
FECHA_PROCESO      50000 non-null object
edad               48937 non-null float64
ModoPago           50000 non-null object
edad_r             48937 non-null float64
dtypes: float64(11), int64(1), object(10)
memory usage: 10.0+ MB

In [84]:
#variables descartadas
delete_cols = ["DATE_OF_BIRTH", "FECHA_PROCESO", "OCCUPATION", "LOCALITY", "edad"]
df_int.drop(delete_cols, axis=1, inplace=True)
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Data columns (total 17 columns):
2017-05            34309 non-null float64
2017-06            33758 non-null float64
2017-07            33290 non-null float64
2017-08            32836 non-null float64
2017-09            32344 non-null float64
2017-10            31865 non-null float64
2017-11            31369 non-null float64
2017-12            30960 non-null float64
2018-01            30585 non-null float64
Churn              50000 non-null int64
GENDER             49975 non-null object
MARITAL_STATUS     45029 non-null object
EDUCATION          16129 non-null object
EDUCATION_LEVEL    1409 non-null object
CITY               38608 non-null object
ModoPago           50000 non-null object
edad_r             48937 non-null float64
dtypes: float64(10), int64(1), object(6)
memory usage: 8.1+ MB

In [85]:
#elimino los 3 meses usados para definir el churn
df_fin = df_int.drop(["2017-11", "2017-12", "2018-01", ], axis=1)
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Data columns (total 14 columns):
2017-05            34309 non-null float64
2017-06            33758 non-null float64
2017-07            33290 non-null float64
2017-08            32836 non-null float64
2017-09            32344 non-null float64
2017-10            31865 non-null float64
Churn              50000 non-null int64
GENDER             49975 non-null object
MARITAL_STATUS     45029 non-null object
EDUCATION          16129 non-null object
EDUCATION_LEVEL    1409 non-null object
CITY               38608 non-null object
ModoPago           50000 non-null object
edad_r             48937 non-null float64
dtypes: float64(7), int64(1), object(6)
memory usage: 7.0+ MB

In [86]:
#cambiando el nombre de las fechas a versiÃ³n generica ( 6 meses model)
cols = ["6m", "5m", "4m", "3m", "2m", "1m"]
df_fin.rename(columns=dict(zip(df_fin.columns[:6], cols)),inplace=True)
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Data columns (total 14 columns):
6m                 34309 non-null float64
5m                 33758 non-null float64
4m                 33290 non-null float64
3m                 32836 non-null float64
2m                 32344 non-null float64
1m                 31865 non-null float64
Churn              50000 non-null int64
GENDER             49975 non-null object
MARITAL_STATUS     45029 non-null object
EDUCATION          16129 non-null object
EDUCATION_LEVEL    1409 non-null object
CITY               38608 non-null object
ModoPago           50000 non-null object
edad_r             48937 non-null float64
dtypes: float64(7), int64(1), object(6)
memory usage: 5.7+ MB

In [87]:
X = pd.get_dummies(df_fin)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Data columns (total 56 columns):
6m                                34309 non-null float64
5m                                33758 non-null float64
4m                                33290 non-null float64
3m                                32836 non-null float64
2m                                32344 non-null float64
1m                                31865 non-null float64
Churn                             50000 non-null int64
edad_r                            48937 non-null float64
GENDER_F                          50000 non-null uint8
GENDER_M                          50000 non-null uint8
MARITAL_STATUS_Casado             50000 non-null uint8
MARITAL_STATUS_Conviv             50000 non-null uint8
MARITAL_STATUS_Divorciado         50000 non-null uint8
MARITAL_STATUS_No Corresp         50000 non-null uint8
MARITAL_STATUS_Separado           50000 non-null uint8
MARITAL_STATUS_Soltero            50000 non-null uint8
MARITAL_STATUS_Union Civ          50000 non-null uint8
MARITAL_STATUS_Viudo              50000 non-null uint8
EDUCATION_N                       50000 non-null uint8
EDUCATION_S                       50000 non-null uint8
EDUCATION_LEVEL_PRIMARIO          50000 non-null uint8
EDUCATION_LEVEL_SECUNDARIO        50000 non-null uint8
EDUCATION_LEVEL_TERCIARIO         50000 non-null uint8
EDUCATION_LEVEL_UNIVERSITARIO     50000 non-null uint8
CITY_ANTARTIDA E ISLAS DEL SUR    50000 non-null uint8
CITY_BUENOS AIRES                 50000 non-null uint8
CITY_CAPITAL FEDERAL              50000 non-null uint8
CITY_CATAMARCA                    50000 non-null uint8
CITY_CHACO                        50000 non-null uint8
CITY_CHUBUT                       50000 non-null uint8
CITY_CORDOBA                      50000 non-null uint8
CITY_CORRIENTES                   50000 non-null uint8
CITY_ENTRE RIOS                   50000 non-null uint8
CITY_FORMOSA                      50000 non-null uint8
CITY_JUJUY                        50000 non-null uint8
CITY_LA PAMPA                     50000 non-null uint8
CITY_LA RIOJA                     50000 non-null uint8
CITY_MENDOZA                      50000 non-null uint8
CITY_MISIONES                     50000 non-null uint8
CITY_NEUQUEN                      50000 non-null uint8
CITY_RIO NEGRO                    50000 non-null uint8
CITY_SALTA                        50000 non-null uint8
CITY_SAN JUAN                     50000 non-null uint8
CITY_SAN LUIS                     50000 non-null uint8
CITY_SANTA CRUZ                   50000 non-null uint8
CITY_SANTA FE                     50000 non-null uint8
CITY_SANTIAGO DEL ESTERO          50000 non-null uint8
CITY_TIERRA DEL FUEGO             50000 non-null uint8
CITY_TUCUMAN                      50000 non-null uint8
ModoPago_BA                       50000 non-null uint8
ModoPago_CC                       50000 non-null uint8
ModoPago_Mix                      50000 non-null uint8
ModoPago_PP                       50000 non-null uint8
ModoPago_SJ                       50000 non-null uint8
ModoPago_TA                       50000 non-null uint8
ModoPago_TM                       50000 non-null uint8
dtypes: float64(7), int64(1), uint8(48)
memory usage: 5.7 MB

In [88]:
X.fillna(0, inplace=True) #reemplazo nulos por 0
X = X.astype("uint8") #cambio el tipo de los datos
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Data columns (total 56 columns):
6m                                50000 non-null uint8
5m                                50000 non-null uint8
4m                                50000 non-null uint8
3m                                50000 non-null uint8
2m                                50000 non-null uint8
1m                                50000 non-null uint8
Churn                             50000 non-null uint8
edad_r                            50000 non-null uint8
GENDER_F                          50000 non-null uint8
GENDER_M                          50000 non-null uint8
MARITAL_STATUS_Casado             50000 non-null uint8
MARITAL_STATUS_Conviv             50000 non-null uint8
MARITAL_STATUS_Divorciado         50000 non-null uint8
MARITAL_STATUS_No Corresp         50000 non-null uint8
MARITAL_STATUS_Separado           50000 non-null uint8
MARITAL_STATUS_Soltero            50000 non-null uint8
MARITAL_STATUS_Union Civ          50000 non-null uint8
MARITAL_STATUS_Viudo              50000 non-null uint8
EDUCATION_N                       50000 non-null uint8
EDUCATION_S                       50000 non-null uint8
EDUCATION_LEVEL_PRIMARIO          50000 non-null uint8
EDUCATION_LEVEL_SECUNDARIO        50000 non-null uint8
EDUCATION_LEVEL_TERCIARIO         50000 non-null uint8
EDUCATION_LEVEL_UNIVERSITARIO     50000 non-null uint8
CITY_ANTARTIDA E ISLAS DEL SUR    50000 non-null uint8
CITY_BUENOS AIRES                 50000 non-null uint8
CITY_CAPITAL FEDERAL              50000 non-null uint8
CITY_CATAMARCA                    50000 non-null uint8
CITY_CHACO                        50000 non-null uint8
CITY_CHUBUT                       50000 non-null uint8
CITY_CORDOBA                      50000 non-null uint8
CITY_CORRIENTES                   50000 non-null uint8
CITY_ENTRE RIOS                   50000 non-null uint8
CITY_FORMOSA                      50000 non-null uint8
CITY_JUJUY                        50000 non-null uint8
CITY_LA PAMPA                     50000 non-null uint8
CITY_LA RIOJA                     50000 non-null uint8
CITY_MENDOZA                      50000 non-null uint8
CITY_MISIONES                     50000 non-null uint8
CITY_NEUQUEN                      50000 non-null uint8
CITY_RIO NEGRO                    50000 non-null uint8
CITY_SALTA                        50000 non-null uint8
CITY_SAN JUAN                     50000 non-null uint8
CITY_SAN LUIS                     50000 non-null uint8
CITY_SANTA CRUZ                   50000 non-null uint8
CITY_SANTA FE                     50000 non-null uint8
CITY_SANTIAGO DEL ESTERO          50000 non-null uint8
CITY_TIERRA DEL FUEGO             50000 non-null uint8
CITY_TUCUMAN                      50000 non-null uint8
ModoPago_BA                       50000 non-null uint8
ModoPago_CC                       50000 non-null uint8
ModoPago_Mix                      50000 non-null uint8
ModoPago_PP                       50000 non-null uint8
ModoPago_SJ                       50000 non-null uint8
ModoPago_TA                       50000 non-null uint8
ModoPago_TM                       50000 non-null uint8
dtypes: uint8(56)
memory usage: 3.1 MB

In [89]:
X.head()

,6m,5m,4m,3m,2m,1m,Churn,edad_r,GENDER_F,GENDER_M,...,CITY_SANTIAGO DEL ESTERO,CITY_TIERRA DEL FUEGO,CITY_TUCUMAN,ModoPago_BA,ModoPago_CC,ModoPago_Mix,ModoPago_PP,ModoPago_SJ,ModoPago_TA,ModoPago_TM
1690,0,0,0,0,0,0,0,5,0,1,...,0,0,0,0,1,0,0,0,0,0
5575,2,2,2,2,2,1,0,4,0,1,...,0,0,0,0,0,1,0,0,0,0
7968,2,2,2,2,2,2,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
9028,2,2,2,2,2,2,0,4,0,1,...,0,0,0,0,0,1,0,0,0,0
9860,1,1,1,1,1,0,0,4,0,1,...,0,0,0,0,0,1,0,0,0,0

In [90]:
X.to_csv("../../data/processed/testeo/m1.0 - churn no estricto (3n 1nn) - 6m.N.polizaXmes y Info.Cliente.M.Pago.csv")