In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
#leer la bd
df = pd.read_csv("../../data/processed/BD_ID_CLIENTE_N.POLIZA_X_MES.csv", index_col="Unnamed: 0")
df.head()

,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,2004-12,...,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01
1690,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0
7968,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9860,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [3]:
#agrego la bd de datos cliente
df_cli = pd.read_csv("../../data/processed/BD_ID_CLIENTE_D.Pers_Modo.Pago.csv", index_col="Unnamed: 0")
df_cli.set_index("CUSTOMER_ID", inplace=True)
df_cli.sort_index(inplace=True)
df_cli.head()

,DATE_OF_BIRTH,GENDER,MARITAL_STATUS,EDUCATION,EDUCATION_LEVEL,OCCUPATION,CITY,LOCALITY,FECHA_PROCESO,edad,ModoPago,edad_r
CUSTOMER_ID,,,,,,,,,,,,
1690,1943-03-06,M,Casado,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0
5575,1966-06-10,M,Casado,NaN,NaN,ESCB,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2017,51.0,Mix,4.0
7968,1911-01-11,M,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2018,107.0,CC,0.0
9028,1961-07-15,M,Casado,NaN,NaN,ARQU,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2018,56.0,Mix,4.0
9860,1967-04-06,M,Soltero,NaN,NaN,EMPL,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,50.0,Mix,4.0

In [4]:
#df_canc = pd.read_csv("../../data/processed/BD_ID_CLIENTE_N.CANCELACIONES.negativas_X_MES.csv", index_col="Unnamed: 0")
#df_canc["2018-01"] = np.nan
#df_canc.head()

In [5]:
#matriz demora pago
df_dem = pd.read_csv("../../data/processed/BD_ID_CLIENTE_N.DEMORA_X_MES.csv", index_col="Unnamed: 0")
df_dem.head()

,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,...,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01
1690,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,2.0,2.0,2.0,2.0,1.0,0.0,1.0,1.0
7968,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2.0,2.0,1.0,1.0,2.0
9028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9860,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [6]:
#matriz deuda pago
df_deu = pd.read_csv("../../data/processed/BD_ID_CLIENTE_N.pago.deuda_X_MES.csv", index_col="Unnamed: 0")
df_deu.head()

,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,...,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01
1690,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7968,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9860,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [7]:
#df_dif = df - df_canc
#df_dif = df_dif == 0
#df_dif.head()

# armando bloques 9 m (6 train, 3 target)

### Creo lista de dataframes

In [9]:
#descarto las Ãºltimas 2 cols porque las uso para testeo (interno y cliente)
df = df.iloc[:,:-2]
#df_canc = df_canc.iloc[:,:-2]
df_dem = df_dem.iloc[:,1:-2]
df_deu = df_deu.iloc[:,1:-2]
#df_dif = df_dif.iloc[:,1:-2]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Columns: 163 entries, 2004-03 to 2017-09
dtypes: float64(163)
memory usage: 62.6 MB

In [15]:
df_deu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1690 to 21260067
Columns: 165 entries, 2004-03 to 2017-11
dtypes: float64(165)
memory usage: 63.3 MB

In [16]:
len(df.columns)

165

In [10]:
#termino en 5 para que no de error en el rango de las columnas
list_df = list()
#list_df_canc = list()
list_df_dem = list()
list_df_deu = list()
#list_df_dif = list()
for i in range( (len(df.columns)) ,8, -1):
    #print("{}-{}".format(i-9,i))
    #print("{}-{}".format(i-9,i-3))
    list_df.append(df.iloc[:,i-9:i])
#    list_df_canc.append(df_canc.iloc[:,i-9:i-3])
    list_df_dem.append(df_dem.iloc[:,i-9:i-3])
    list_df_deu.append(df_deu.iloc[:,i-9:i-3])
#    list_df_dif.append(df_dif.iloc[:,i-9:i-3])

len(list_df)

155

In [11]:
tmp = list()
for i in range(0, len(list_df)):
    tmp.append(pd.merge(list_df[i], list_df_dem[i], left_index=True, right_index=True, suffixes=["","_dem"]))
    tmp[i] = pd.merge(tmp[i], list_df_deu[i], left_index=True, right_index=True, suffixes=["","_deu"])
#    tmp[i] = pd.merge(tmp[i], list_df_dif[i], left_index=True, right_index=True, suffixes=["","_did"])
len(tmp)

155

In [53]:
#chequeando integridad de valores
#tmp[0].loc[7968,:]

### Renombre las columnas de cada dataframe

In [12]:
#tmp[0].columns
cols = ["6m", "5m", "4m", "3m", "2m", "1m", "3p", "2p", "1p",
       '6m_dem', '5m_dem', '4m_dem', '3m_dem', '2m_dem', '1m_dem',
       '6m_deu', '5m_deu', '4m_deu', '3m_deu', '2m_deu', '1m_deu',
       ]
#'6m_canc', '5m_canc', '4m_canc', '3m_canc', '2m_canc', '1m_canc', 
#'6m_dif', '5m_dif', '4m_dif', '3m_dif', '2m_dif', '1m_dif'

In [13]:
#cambiando el nombre de las fechas a versiÃ³n generica ( 6 meses train, 3 pred)
for i in range(0, len(tmp)):
    tmp[i].rename(columns=dict(zip(tmp[i].columns, cols)),inplace=True)

### Integrando lista de dataframes en un Ãºnico dataframe

In [14]:
bd = pd.concat(tmp)
bd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7750000 entries, 1690 to 21260067
Data columns (total 21 columns):
6m        float64
5m        float64
4m        float64
3m        float64
2m        float64
1m        float64
3p        float64
2p        float64
1p        float64
6m_dem    float64
5m_dem    float64
4m_dem    float64
3m_dem    float64
2m_dem    float64
1m_dem    float64
6m_deu    float64
5m_deu    float64
4m_deu    float64
3m_deu    float64
2m_deu    float64
1m_deu    float64
dtypes: float64(21)
memory usage: 1.3 GB

### Integrando con dataframe clientes

In [15]:
df_int = pd.merge(bd, df_cli, left_index=True, right_index=True)
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7750000 entries, 1690 to 21260067
Data columns (total 33 columns):
6m                 float64
5m                 float64
4m                 float64
3m                 float64
2m                 float64
1m                 float64
3p                 float64
2p                 float64
1p                 float64
6m_dem             float64
5m_dem             float64
4m_dem             float64
3m_dem             float64
2m_dem             float64
1m_dem             float64
6m_deu             float64
5m_deu             float64
4m_deu             float64
3m_deu             float64
2m_deu             float64
1m_deu             float64
DATE_OF_BIRTH      object
GENDER             object
MARITAL_STATUS     object
EDUCATION          object
EDUCATION_LEVEL    object
OCCUPATION         object
CITY               object
LOCALITY           object
FECHA_PROCESO      object
edad               float64
ModoPago           object
edad_r             float64
dtypes: float64(23), object(10)
memory usage: 2.0+ GB

In [23]:
#analizar como son los duplicados
#df_int[df_int.duplicated() & (df_int.iloc[:,0:6].count(axis=1) < 6) & (df_int.iloc[:,0:6].count(axis=1) > 0)]
#duplicados churn?
#df_int[df_int.duplicated() & (df_int.iloc[:,6:9].count(axis=1) == 0) & (df_int.iloc[:,0:6].count(axis=1) > 0)]

,6m,5m,4m,3m,2m,1m,3p,2p,1p,6m_dem,...,MARITAL_STATUS,EDUCATION,EDUCATION_LEVEL,OCCUPATION,CITY,LOCALITY,FECHA_PROCESO,edad,ModoPago,edad_r
95213,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,COME,NaN,NaN,31/01/2015,56.0,Mix,4.0
95213,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,COME,NaN,NaN,31/01/2015,56.0,Mix,4.0
95213,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,COME,NaN,NaN,31/01/2015,56.0,Mix,4.0
100870,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,EMPL,BUENOS AIRES,BECCAR,31/01/2018,49.0,Mix,4.0
114048,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,DOCE,NaN,NaN,31/01/2014,50.0,CC,4.0
122512,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,COME,NaN,NaN,31/01/2016,49.0,Mix,4.0
122512,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,COME,NaN,NaN,31/01/2016,49.0,Mix,4.0
122512,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,COME,NaN,NaN,31/01/2016,49.0,Mix,4.0
122512,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,COME,NaN,NaN,31/01/2016,49.0,Mix,4.0
122512,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,COME,NaN,NaN,31/01/2016,49.0,Mix,4.0
122512,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,COME,NaN,NaN,31/01/2016,49.0,Mix,4.0
122512,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,COME,NaN,NaN,31/01/2016,49.0,Mix,4.0
127188,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,EMPL,NaN,NaN,31/01/2016,52.0,Mix,4.0
190699,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,NaN,NaN,NaN,31/01/2018,49.0,CC,4.0
193885,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,AMAD,NaN,NaN,31/01/2014,63.0,Mix,5.0
294942,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,31/01/2016,118.0,Mix,0.0
297408,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,EMPL,NaN,NaN,31/01/2014,46.0,CC,4.0
297408,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,EMPL,NaN,NaN,31/01/2014,46.0,CC,4.0
297408,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,EMPL,NaN,NaN,31/01/2014,46.0,CC,4.0
297408,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,EMPL,NaN,NaN,31/01/2014,46.0,CC,4.0
297408,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,EMPL,NaN,NaN,31/01/2014,46.0,CC,4.0
297408,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,EMPL,NaN,NaN,31/01/2014,46.0,CC,4.0
312340,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,Soltero,NaN,NaN,ADMI,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2017,43.0,Mix,3.0
370015,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,Casado,NaN,NaN,EMPL,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2015,47.0,Mix,4.0
382862,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,NaN,NaN,NaN,31/01/2015,78.0,Mix,5.0
382862,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,Soltero,NaN,NaN,NaN,NaN,NaN,31/01/2015,78.0,Mix,5.0
396605,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2017,75.0,Mix,5.0
396605,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2017,75.0,Mix,5.0
396605,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2017,75.0,Mix,5.0
396605,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,NaN,NaN,NaN,NaN,NaN,31/01/2017,75.0,Mix,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20993465,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,CORDOBA,CORDOBA,31/01/2016,118.0,PP,0.0
20993465,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,CORDOBA,CORDOBA,31/01/2016,118.0,PP,0.0
20993465,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,CORDOBA,CORDOBA,31/01/2016,118.0,PP,0.0
21006842,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21006842,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21006842,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21006842,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21006842,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21006842,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21050220,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21050220,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21050220,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21050220,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21050220,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21050220,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CAPITAL FEDERAL,CAPITAL FEDERAL,31/01/2016,118.0,CC,0.0
21050355,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,BUENOS AIRES,BAHIA BLANCA,31/01/2016,118.0,PP,0.0
21050355,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,BUENOS AIRES,BAHIA BLANCA,31/01/2016,118.0,PP,0.0
21050355,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,BUENOS AIRES,BAHIA BLANCA,31/01/2016,118.0,PP,0.0
21050355,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,BUENOS AIRES,BAHIA BLANCA,31/01/2016,118.0,PP,0.0
21050355,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,BUENOS AIRES,BAHIA BLANCA,31/01/2016,118.0,PP,0.0
21050355,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,BUENOS AIRES,BAHIA BLANCA,31/01/2016,118.0,PP,0.0
21060521,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CHUBUT,COMODORO RIVADAVIA,31/01/2016,118.0,PP,0.0
21060521,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CHUBUT,COMODORO RIVADAVIA,31/01/2016,118.0,PP,0.0
21060521,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CHUBUT,COMODORO RIVADAVIA,31/01/2016,118.0,PP,0.0
21060521,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CHUBUT,COMODORO RIVADAVIA,31/01/2016,118.0,PP,0.0
21060521,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CHUBUT,COMODORO RIVADAVIA,31/01/2016,118.0,PP,0.0
21060521,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CHUBUT,COMODORO RIVADAVIA,31/01/2016,118.0,PP,0.0
21082824,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CORDOBA,CORDOBA,31/01/2016,118.0,PP,0.0
21082824,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CORDOBA,CORDOBA,31/01/2016,118.0,PP,0.0
21082824,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,CORDOBA,CORDOBA,31/01/2016,118.0,PP,0.0

In [24]:
df_int["ID_CUSTOMER"] = df_int.index
df_int.head()

,6m,5m,4m,3m,2m,1m,3p,2p,1p,6m_dem,...,EDUCATION,EDUCATION_LEVEL,OCCUPATION,CITY,LOCALITY,FECHA_PROCESO,edad,ModoPago,edad_r,ID_CUSTOMER
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0,1690
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0,1690
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0,1690
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0,1690
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0,1690

In [25]:
df_int.drop_duplicates(inplace=True)
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245884 entries, 1690 to 21260067
Data columns (total 34 columns):
6m                 784680 non-null float64
5m                 810769 non-null float64
4m                 836870 non-null float64
3m                 862419 non-null float64
2m                 887248 non-null float64
1m                 910540 non-null float64
3p                 931159 non-null float64
2p                 951380 non-null float64
1p                 971268 non-null float64
6m_dem             782508 non-null float64
5m_dem             808788 non-null float64
4m_dem             835033 non-null float64
3m_dem             860776 non-null float64
2m_dem             885848 non-null float64
1m_dem             909627 non-null float64
6m_deu             782508 non-null float64
5m_deu             808788 non-null float64
4m_deu             835033 non-null float64
3m_deu             860776 non-null float64
2m_deu             885848 non-null float64
1m_deu             909627 non-null float64
DATE_OF_BIRTH      1223668 non-null object
GENDER             1245218 non-null object
MARITAL_STATUS     1132267 non-null object
EDUCATION          405210 non-null object
EDUCATION_LEVEL    40753 non-null object
OCCUPATION         766678 non-null object
CITY               954854 non-null object
LOCALITY           954854 non-null object
FECHA_PROCESO      1245884 non-null object
edad               1223668 non-null float64
ModoPago           1245884 non-null object
edad_r             1223668 non-null float64
ID_CUSTOMER        1245884 non-null int64
dtypes: float64(23), int64(1), object(10)
memory usage: 332.7+ MB

In [26]:
df_int.drop("ID_CUSTOMER", axis=1, inplace=True)
df_int.head()

,6m,5m,4m,3m,2m,1m,3p,2p,1p,6m_dem,...,MARITAL_STATUS,EDUCATION,EDUCATION_LEVEL,OCCUPATION,CITY,LOCALITY,FECHA_PROCESO,edad,ModoPago,edad_r
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Casado,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,Casado,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0
1690,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0
1690,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0
1690,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,Casado,S,NaN,CONT,BUENOS AIRES,HURLINGHAM,31/01/2014,74.0,CC,5.0

In [27]:
#variables descartadas
delete_cols = ["DATE_OF_BIRTH", "FECHA_PROCESO", "OCCUPATION", "LOCALITY", "edad"]
df_fin = df_int.drop(delete_cols, axis=1)
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245884 entries, 1690 to 21260067
Data columns (total 28 columns):
6m                 784680 non-null float64
5m                 810769 non-null float64
4m                 836870 non-null float64
3m                 862419 non-null float64
2m                 887248 non-null float64
1m                 910540 non-null float64
3p                 931159 non-null float64
2p                 951380 non-null float64
1p                 971268 non-null float64
6m_dem             782508 non-null float64
5m_dem             808788 non-null float64
4m_dem             835033 non-null float64
3m_dem             860776 non-null float64
2m_dem             885848 non-null float64
1m_dem             909627 non-null float64
6m_deu             782508 non-null float64
5m_deu             808788 non-null float64
4m_deu             835033 non-null float64
3m_deu             860776 non-null float64
2m_deu             885848 non-null float64
1m_deu             909627 non-null float64
GENDER             1245218 non-null object
MARITAL_STATUS     1132267 non-null object
EDUCATION          405210 non-null object
EDUCATION_LEVEL    40753 non-null object
CITY               954854 non-null object
ModoPago           1245884 non-null object
edad_r             1223668 non-null float64
dtypes: float64(22), object(6)
memory usage: 275.7+ MB

In [28]:
X = pd.get_dummies(df_fin)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245884 entries, 1690 to 21260067
Data columns (total 70 columns):
6m                                784680 non-null float64
5m                                810769 non-null float64
4m                                836870 non-null float64
3m                                862419 non-null float64
2m                                887248 non-null float64
1m                                910540 non-null float64
3p                                931159 non-null float64
2p                                951380 non-null float64
1p                                971268 non-null float64
6m_dem                            782508 non-null float64
5m_dem                            808788 non-null float64
4m_dem                            835033 non-null float64
3m_dem                            860776 non-null float64
2m_dem                            885848 non-null float64
1m_dem                            909627 non-null float64
6m_deu                            782508 non-null float64
5m_deu                            808788 non-null float64
4m_deu                            835033 non-null float64
3m_deu                            860776 non-null float64
2m_deu                            885848 non-null float64
1m_deu                            909627 non-null float64
edad_r                            1223668 non-null float64
GENDER_F                          1245884 non-null uint8
GENDER_M                          1245884 non-null uint8
MARITAL_STATUS_Casado             1245884 non-null uint8
MARITAL_STATUS_Conviv             1245884 non-null uint8
MARITAL_STATUS_Divorciado         1245884 non-null uint8
MARITAL_STATUS_No Corresp         1245884 non-null uint8
MARITAL_STATUS_Separado           1245884 non-null uint8
MARITAL_STATUS_Soltero            1245884 non-null uint8
MARITAL_STATUS_Union Civ          1245884 non-null uint8
MARITAL_STATUS_Viudo              1245884 non-null uint8
EDUCATION_N                       1245884 non-null uint8
EDUCATION_S                       1245884 non-null uint8
EDUCATION_LEVEL_PRIMARIO          1245884 non-null uint8
EDUCATION_LEVEL_SECUNDARIO        1245884 non-null uint8
EDUCATION_LEVEL_TERCIARIO         1245884 non-null uint8
EDUCATION_LEVEL_UNIVERSITARIO     1245884 non-null uint8
CITY_ANTARTIDA E ISLAS DEL SUR    1245884 non-null uint8
CITY_BUENOS AIRES                 1245884 non-null uint8
CITY_CAPITAL FEDERAL              1245884 non-null uint8
CITY_CATAMARCA                    1245884 non-null uint8
CITY_CHACO                        1245884 non-null uint8
CITY_CHUBUT                       1245884 non-null uint8
CITY_CORDOBA                      1245884 non-null uint8
CITY_CORRIENTES                   1245884 non-null uint8
CITY_ENTRE RIOS                   1245884 non-null uint8
CITY_FORMOSA                      1245884 non-null uint8
CITY_JUJUY                        1245884 non-null uint8
CITY_LA PAMPA                     1245884 non-null uint8
CITY_LA RIOJA                     1245884 non-null uint8
CITY_MENDOZA                      1245884 non-null uint8
CITY_MISIONES                     1245884 non-null uint8
CITY_NEUQUEN                      1245884 non-null uint8
CITY_RIO NEGRO                    1245884 non-null uint8
CITY_SALTA                        1245884 non-null uint8
CITY_SAN JUAN                     1245884 non-null uint8
CITY_SAN LUIS                     1245884 non-null uint8
CITY_SANTA CRUZ                   1245884 non-null uint8
CITY_SANTA FE                     1245884 non-null uint8
CITY_SANTIAGO DEL ESTERO          1245884 non-null uint8
CITY_TIERRA DEL FUEGO             1245884 non-null uint8
CITY_TUCUMAN                      1245884 non-null uint8
ModoPago_BA                       1245884 non-null uint8
ModoPago_CC                       1245884 non-null uint8
ModoPago_Mix                      1245884 non-null uint8
ModoPago_PP                       1245884 non-null uint8
ModoPago_SJ                       1245884 non-null uint8
ModoPago_TA                       1245884 non-null uint8
ModoPago_TM                       1245884 non-null uint8
dtypes: float64(22), uint8(48)
memory usage: 275.7 MB

In [29]:
X.fillna(-1, inplace=True) #reemplazo nulos por 0
X = X.astype("uint8") #cambio el tipo de los datos
#X.loc[:,['6m_dif', '5m_dif', '4m_dif', '3m_dif', '2m_dif', '1m_dif']] = X.loc[:,['6m_dif', '5m_dif', '4m_dif', '3m_dif', '2m_dif', '1m_dif']].astype("bool")
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245884 entries, 1690 to 21260067
Data columns (total 70 columns):
6m                                1245884 non-null uint8
5m                                1245884 non-null uint8
4m                                1245884 non-null uint8
3m                                1245884 non-null uint8
2m                                1245884 non-null uint8
1m                                1245884 non-null uint8
3p                                1245884 non-null uint8
2p                                1245884 non-null uint8
1p                                1245884 non-null uint8
6m_dem                            1245884 non-null uint8
5m_dem                            1245884 non-null uint8
4m_dem                            1245884 non-null uint8
3m_dem                            1245884 non-null uint8
2m_dem                            1245884 non-null uint8
1m_dem                            1245884 non-null uint8
6m_deu                            1245884 non-null uint8
5m_deu                            1245884 non-null uint8
4m_deu                            1245884 non-null uint8
3m_deu                            1245884 non-null uint8
2m_deu                            1245884 non-null uint8
1m_deu                            1245884 non-null uint8
edad_r                            1245884 non-null uint8
GENDER_F                          1245884 non-null uint8
GENDER_M                          1245884 non-null uint8
MARITAL_STATUS_Casado             1245884 non-null uint8
MARITAL_STATUS_Conviv             1245884 non-null uint8
MARITAL_STATUS_Divorciado         1245884 non-null uint8
MARITAL_STATUS_No Corresp         1245884 non-null uint8
MARITAL_STATUS_Separado           1245884 non-null uint8
MARITAL_STATUS_Soltero            1245884 non-null uint8
MARITAL_STATUS_Union Civ          1245884 non-null uint8
MARITAL_STATUS_Viudo              1245884 non-null uint8
EDUCATION_N                       1245884 non-null uint8
EDUCATION_S                       1245884 non-null uint8
EDUCATION_LEVEL_PRIMARIO          1245884 non-null uint8
EDUCATION_LEVEL_SECUNDARIO        1245884 non-null uint8
EDUCATION_LEVEL_TERCIARIO         1245884 non-null uint8
EDUCATION_LEVEL_UNIVERSITARIO     1245884 non-null uint8
CITY_ANTARTIDA E ISLAS DEL SUR    1245884 non-null uint8
CITY_BUENOS AIRES                 1245884 non-null uint8
CITY_CAPITAL FEDERAL              1245884 non-null uint8
CITY_CATAMARCA                    1245884 non-null uint8
CITY_CHACO                        1245884 non-null uint8
CITY_CHUBUT                       1245884 non-null uint8
CITY_CORDOBA                      1245884 non-null uint8
CITY_CORRIENTES                   1245884 non-null uint8
CITY_ENTRE RIOS                   1245884 non-null uint8
CITY_FORMOSA                      1245884 non-null uint8
CITY_JUJUY                        1245884 non-null uint8
CITY_LA PAMPA                     1245884 non-null uint8
CITY_LA RIOJA                     1245884 non-null uint8
CITY_MENDOZA                      1245884 non-null uint8
CITY_MISIONES                     1245884 non-null uint8
CITY_NEUQUEN                      1245884 non-null uint8
CITY_RIO NEGRO                    1245884 non-null uint8
CITY_SALTA                        1245884 non-null uint8
CITY_SAN JUAN                     1245884 non-null uint8
CITY_SAN LUIS                     1245884 non-null uint8
CITY_SANTA CRUZ                   1245884 non-null uint8
CITY_SANTA FE                     1245884 non-null uint8
CITY_SANTIAGO DEL ESTERO          1245884 non-null uint8
CITY_TIERRA DEL FUEGO             1245884 non-null uint8
CITY_TUCUMAN                      1245884 non-null uint8
ModoPago_BA                       1245884 non-null uint8
ModoPago_CC                       1245884 non-null uint8
ModoPago_Mix                      1245884 non-null uint8
ModoPago_PP                       1245884 non-null uint8
ModoPago_SJ                       1245884 non-null uint8
ModoPago_TA                       1245884 non-null uint8
ModoPago_TM                       1245884 non-null uint8
dtypes: uint8(70)
memory usage: 92.7 MB

In [29]:
#X["id_cliente"] = X.index

In [30]:
#X.drop_duplicates(inplace=True)
#X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337572 entries, 1690 to 21260067
Data columns (total 84 columns):
6m                                1337572 non-null uint8
5m                                1337572 non-null uint8
4m                                1337572 non-null uint8
3m                                1337572 non-null uint8
2m                                1337572 non-null uint8
1m                                1337572 non-null uint8
3p                                1337572 non-null uint8
2p                                1337572 non-null uint8
1p                                1337572 non-null uint8
6m_canc                           1337572 non-null uint8
5m_canc                           1337572 non-null uint8
4m_canc                           1337572 non-null uint8
3m_canc                           1337572 non-null uint8
2m_canc                           1337572 non-null uint8
1m_canc                           1337572 non-null uint8
6m_dem                            1337572 non-null uint8
5m_dem                            1337572 non-null uint8
4m_dem                            1337572 non-null uint8
3m_dem                            1337572 non-null uint8
2m_dem                            1337572 non-null uint8
1m_dem                            1337572 non-null uint8
6m_deu                            1337572 non-null uint8
5m_deu                            1337572 non-null uint8
4m_deu                            1337572 non-null uint8
3m_deu                            1337572 non-null uint8
2m_deu                            1337572 non-null uint8
1m_deu                            1337572 non-null uint8
6m_dif                            1337572 non-null bool
5m_dif                            1337572 non-null bool
4m_dif                            1337572 non-null bool
3m_dif                            1337572 non-null bool
2m_dif                            1337572 non-null bool
1m_dif                            1337572 non-null bool
edad_r                            1337572 non-null uint8
ID_CUSTOMER                       1337572 non-null uint8
GENDER_F                          1337572 non-null uint8
GENDER_M                          1337572 non-null uint8
MARITAL_STATUS_Casado             1337572 non-null uint8
MARITAL_STATUS_Conviv             1337572 non-null uint8
MARITAL_STATUS_Divorciado         1337572 non-null uint8
MARITAL_STATUS_No Corresp         1337572 non-null uint8
MARITAL_STATUS_Separado           1337572 non-null uint8
MARITAL_STATUS_Soltero            1337572 non-null uint8
MARITAL_STATUS_Union Civ          1337572 non-null uint8
MARITAL_STATUS_Viudo              1337572 non-null uint8
EDUCATION_N                       1337572 non-null uint8
EDUCATION_S                       1337572 non-null uint8
EDUCATION_LEVEL_PRIMARIO          1337572 non-null uint8
EDUCATION_LEVEL_SECUNDARIO        1337572 non-null uint8
EDUCATION_LEVEL_TERCIARIO         1337572 non-null uint8
EDUCATION_LEVEL_UNIVERSITARIO     1337572 non-null uint8
CITY_ANTARTIDA E ISLAS DEL SUR    1337572 non-null uint8
CITY_BUENOS AIRES                 1337572 non-null uint8
CITY_CAPITAL FEDERAL              1337572 non-null uint8
CITY_CATAMARCA                    1337572 non-null uint8
CITY_CHACO                        1337572 non-null uint8
CITY_CHUBUT                       1337572 non-null uint8
CITY_CORDOBA                      1337572 non-null uint8
CITY_CORRIENTES                   1337572 non-null uint8
CITY_ENTRE RIOS                   1337572 non-null uint8
CITY_FORMOSA                      1337572 non-null uint8
CITY_JUJUY                        1337572 non-null uint8
CITY_LA PAMPA                     1337572 non-null uint8
CITY_LA RIOJA                     1337572 non-null uint8
CITY_MENDOZA                      1337572 non-null uint8
CITY_MISIONES                     1337572 non-null uint8
CITY_NEUQUEN                      1337572 non-null uint8
CITY_RIO NEGRO                    1337572 non-null uint8
CITY_SALTA                        1337572 non-null uint8
CITY_SAN JUAN                     1337572 non-null uint8
CITY_SAN LUIS                     1337572 non-null uint8
CITY_SANTA CRUZ                   1337572 non-null uint8
CITY_SANTA FE                     1337572 non-null uint8
CITY_SANTIAGO DEL ESTERO          1337572 non-null uint8
CITY_TIERRA DEL FUEGO             1337572 non-null uint8
CITY_TUCUMAN                      1337572 non-null uint8
ModoPago_BA                       1337572 non-null uint8
ModoPago_CC                       1337572 non-null uint8
ModoPago_Mix                      1337572 non-null uint8
ModoPago_PP                       1337572 non-null uint8
ModoPago_SJ                       1337572 non-null uint8
ModoPago_TA                       1337572 non-null uint8
ModoPago_TM                       1337572 non-null uint8
id_cliente                        1337572 non-null int64
dtypes: bool(6), int64(1), uint8(77)
memory usage: 126.3 MB

In [31]:
X.iloc[:,:-1].head()

,6m,5m,4m,3m,2m,1m,3p,2p,1p,6m_canc,...,CITY_SANTIAGO DEL ESTERO,CITY_TIERRA DEL FUEGO,CITY_TUCUMAN,ModoPago_BA,ModoPago_CC,ModoPago_Mix,ModoPago_PP,ModoPago_SJ,ModoPago_TA,ModoPago_TM
1690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1690,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1690,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1690,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [31]:
X.to_csv("../../data/processed/m4.0 - dummy sin churn definido  - 6m.N.polizaXmes y Info.Cliente.M.Pago.csv")

# Training : churn exacto 3 meses

In [5]:
df = pd.read_csv("../../data/processed/m4.0 - dummy sin churn definido  - 6m.N.polizaXmes y Info.Cliente.M.Pago.csv", index_col="Unnamed: 0")
df.info()

/home/seba/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245884 entries, 1690 to 21260067
Data columns (total 70 columns):
6m                                1245884 non-null int64
5m                                1245884 non-null int64
4m                                1245884 non-null int64
3m                                1245884 non-null int64
2m                                1245884 non-null int64
1m                                1245884 non-null int64
3p                                1245884 non-null int64
2p                                1245884 non-null int64
1p                                1245884 non-null int64
6m_dem                            1245884 non-null int64
5m_dem                            1245884 non-null int64
4m_dem                            1245884 non-null int64
3m_dem                            1245884 non-null int64
2m_dem                            1245884 non-null int64
1m_dem                            1245884 non-null int64
6m_deu                            1245884 non-null int64
5m_deu                            1245884 non-null int64
4m_deu                            1245884 non-null int64
3m_deu                            1245884 non-null int64
2m_deu                            1245884 non-null int64
1m_deu                            1245884 non-null int64
edad_r                            1245884 non-null int64
GENDER_F                          1245884 non-null int64
GENDER_M                          1245884 non-null int64
MARITAL_STATUS_Casado             1245884 non-null int64
MARITAL_STATUS_Conviv             1245884 non-null int64
MARITAL_STATUS_Divorciado         1245884 non-null int64
MARITAL_STATUS_No Corresp         1245884 non-null int64
MARITAL_STATUS_Separado           1245884 non-null int64
MARITAL_STATUS_Soltero            1245884 non-null int64
MARITAL_STATUS_Union Civ          1245884 non-null int64
MARITAL_STATUS_Viudo              1245884 non-null int64
EDUCATION_N                       1245884 non-null int64
EDUCATION_S                       1245884 non-null int64
EDUCATION_LEVEL_PRIMARIO          1245884 non-null int64
EDUCATION_LEVEL_SECUNDARIO        1245884 non-null int64
EDUCATION_LEVEL_TERCIARIO         1245884 non-null int64
EDUCATION_LEVEL_UNIVERSITARIO     1245884 non-null int64
CITY_ANTARTIDA E ISLAS DEL SUR    1245884 non-null int64
CITY_BUENOS AIRES                 1245884 non-null int64
CITY_CAPITAL FEDERAL              1245884 non-null int64
CITY_CATAMARCA                    1245884 non-null int64
CITY_CHACO                        1245884 non-null int64
CITY_CHUBUT                       1245884 non-null int64
CITY_CORDOBA                      1245884 non-null int64
CITY_CORRIENTES                   1245884 non-null int64
CITY_ENTRE RIOS                   1245884 non-null int64
CITY_FORMOSA                      1245884 non-null int64
CITY_JUJUY                        1245884 non-null int64
CITY_LA PAMPA                     1245884 non-null int64
CITY_LA RIOJA                     1245884 non-null int64
CITY_MENDOZA                      1245884 non-null int64
CITY_MISIONES                     1245884 non-null int64
CITY_NEUQUEN                      1245884 non-null int64
CITY_RIO NEGRO                    1245884 non-null int64
CITY_SALTA                        1245884 non-null int64
CITY_SAN JUAN                     1245884 non-null int64
CITY_SAN LUIS                     1245884 non-null int64
CITY_SANTA CRUZ                   1245884 non-null int64
CITY_SANTA FE                     1245884 non-null int64
CITY_SANTIAGO DEL ESTERO          1245884 non-null int64
CITY_TIERRA DEL FUEGO             1245884 non-null int64
CITY_TUCUMAN                      1245884 non-null int64
ModoPago_BA                       1245884 non-null int64
ModoPago_CC                       1245884 non-null int64
ModoPago_Mix                      1245884 non-null int64
ModoPago_PP                       1245884 non-null int64
ModoPago_SJ                       1245884 non-null int64
ModoPago_TA                       1245884 non-null int64
ModoPago_TM                       1245884 non-null int64
dtypes: int64(70)
memory usage: 674.9 MB

In [6]:
df.head()

,6m,5m,4m,3m,2m,1m,3p,2p,1p,6m_dem,...,CITY_SANTIAGO DEL ESTERO,CITY_TIERRA DEL FUEGO,CITY_TUCUMAN,ModoPago_BA,ModoPago_CC,ModoPago_Mix,ModoPago_PP,ModoPago_SJ,ModoPago_TA,ModoPago_TM
1690,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,1,0,0,0,0,0
1690,255,255,255,255,255,255,255,255,255,1,...,0,0,0,0,1,0,0,0,0,0
1690,1,255,255,255,255,255,255,255,255,0,...,0,0,0,0,1,0,0,0,0,0
1690,1,1,255,255,255,255,255,255,255,0,...,0,0,0,0,1,0,0,0,0,0
1690,1,1,1,255,255,255,255,255,255,0,...,0,0,0,0,1,0,0,0,0,0

In [8]:
df.replace(to_replace=255, value=np.nan, inplace=True)
df.head()

,6m,5m,4m,3m,2m,1m,3p,2p,1p,6m_dem,...,CITY_SANTIAGO DEL ESTERO,CITY_TIERRA DEL FUEGO,CITY_TUCUMAN,ModoPago_BA,ModoPago_CC,ModoPago_Mix,ModoPago_PP,ModoPago_SJ,ModoPago_TA,ModoPago_TM
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
1690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0,0,0,0,1,0,0,0,0,0
1690,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0,0,0,0,1,0,0,0,0,0
1690,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0,0,0,0,1,0,0,0,0,0
1690,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0,0,0,0,1,0,0,0,0,0

In [9]:
df["Churn"] = 0
#Regla churn stricta
df.loc[ pd.isnull(df["3p"]) & pd.isnull(df["2p"])  &  pd.isnull(df["1p"]) &  pd.notnull(df["1m"]) &  (df.iloc[:,:3].count(axis=1) > 0)  &  (df.iloc[:,1:4].count(axis=1) > 0) &  (df.iloc[:,2:5].count(axis=1) > 0), "Churn"] = 1

In [16]:
df.fillna(-1, inplace=True)
df.head()

,6m,5m,4m,3m,2m,1m,6m_dem,5m_dem,4m_dem,3m_dem,...,CITY_TIERRA DEL FUEGO,CITY_TUCUMAN,ModoPago_BA,ModoPago_CC,ModoPago_Mix,ModoPago_PP,ModoPago_SJ,ModoPago_TA,ModoPago_TM,Churn
1690,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0,0,0,1,0,0,0,0,0,0
1690,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,...,0,0,0,1,0,0,0,0,0,0
1690,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,1.0,-1.0,-1.0,...,0,0,0,1,0,0,0,0,0,0
1690,1.0,1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1.0,-1.0,...,0,0,0,1,0,0,0,0,0,0
1690,1.0,1.0,1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,1.0,...,0,0,0,1,0,0,0,0,0,0

In [17]:
df["Churn"].value_counts() / len(df)

0    0.979088
1    0.020912
Name: Churn, dtype: float64

In [18]:
df.drop(["3p", "2p", "1p"], axis=1, inplace=True)
df.info()

KeyError: "labels ['3p' '2p' '1p'] not contained in axis"

In [19]:
df.to_csv("../../data/processed/train/m4.0 - churn estricto - 6m.N.polizaXmes y Info.Cliente.M.Pago.csv")