In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table("../../data/raw/TB_INTERACCIONES.tsv", encoding="latin-1")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4104713 entries, 0 to 4104712
Data columns (total 7 columns):
CUSTOMER_ID            object
MODE_OF_INTERACTION    object
INTERACTION_TYPE       object
INTERACTION_DATE       object
COMMENTS               object
COD_INTERACTION        object
TEXT_DESCRIPTION       object
dtypes: object(7)
memory usage: 219.2+ MB

In [3]:
df.head()

,CUSTOMER_ID,MODE_OF_INTERACTION,INTERACTION_TYPE,INTERACTION_DATE,COMMENTS,COD_INTERACTION,TEXT_DESCRIPTION
0,1690,TEL,A,03/07/2015,NaN,RBOS,Robo Contenido Baja Otros - Simultanea
1,1690,TEL,I,22/12/2014 02:32:01 p.m.,Por motivo CANCELACION SISTEMAS por el usuari...,CA,Rechazo Telefónico
2,1690,TEL,I,04/02/2014 05:52:46 p.m.,las vigencias son mensuales y las renovac trim...,ACCP,Consulta General de Póliza
3,1690,PRES,I,15/03/2013 02:48:52 p.m.,Liquidación relacionada al Siniestro Nro. 8170...,SA03,SL-Liquidación al tercero
4,1690,PRES,I,15/03/2013 02:44:38 p.m.,Liquidación relacionada al Siniestro Nro. 8170...,SA03,SL-Liquidación al tercero

In [29]:
#I
cod_buenas = ["H033", "H024", "ATPR", "VTA", "CONS", "HO49", "OFE", "SCCS", "H038", "H032", "IMCS", "AS", "DD20"]
cod_malas = ["TRAN"]

df[df.COD_INTERACTION == df[df.INTERACTION_TYPE == "I"].COD_INTERACTION.value_counts().index[22]].iloc[0:20][["COD_INTERACTION","COMMENTS"]]

     COD_INTERACTION                                           COMMENTS
34              SCLT                                                NaN
35              SCLT                            5990 por baja de palio.
39              SCLT                                     5990 por baja.
47              SCLT                         5990 dif costos/plan menor
366             SCLT                                               5888
401             SCLT                                               5990
410             SCLT                                 frost cotiza menos
1743            SCLT                                                NaN
1788            SCLT                                   FROST, por baja.
2276            SCLT                                         Cristal .-
2894            SCLT                                    Frost, por baja
3424            SCLT                                      3991 consulta
3615            SCLT              no corresponde consulta a siniestros.
3625            SCLT                                    5990 plan menor
3890            SCLT  Asegurado no acepta cristal del proveedor y so...
3953            SCLT                                               5990
5969            SCLT                                            bmn 325
6146            SCLT                                                NaN
6327            SCLT                      FROST, x cotizac. plan menor.
6761            SCLT                                                NaN

In [4]:
#interacciones generales
#df.COD_INTERACTION.value_counts() #> len(df)*0.01

In [55]:
df[df.INTERACTION_TYPE == "I"].COD_INTERACTION.value_counts()

DD02    348838
H033    199717
DD33    127969
INF     121332
H024    118400
ATPR     82897
VTA      46066
CONS     42055
HO49     35516
OFE      33123
AW01     28954
SCCS     27505
SA01     27326
H038     20830
EM50     19496
H032     15822
IMCS     15789
AS       15678
SA03     14784
DD20     14505
TRAN     14099
CA       12623
SCLT     12303
EMCP     11487
ACCP     11464
ACCU     10172
ACRF      9961
SCCG      9900
AW25      9818
SA06      9436
         ...
DOCP         1
M052         1
CRIN         1
ARAD         1
EMPC         1
CFEM         1
DCV          1
TRCO         1
CFTL         1
OC30         1
REN1         1
ARES         1
POU2         1
2017         1
M034         1
ARGP         1
AQ06         1
N/C          1
G1           1
INCF         1
VCFR         1
CADP         1
WC40         1
FT04         1
AAMA         1
4001         1
AX42         1
TK24         1
CFEA         1
M022         1
Name: COD_INTERACTION, Length: 1026, dtype: int64

In [28]:
df[df.COD_INTERACTION == df[df.INTERACTION_TYPE == "I"].COD_INTERACTION.value_counts().index[21]].iloc[4][["COD_INTERACTION","COMMENTS"]]["COMMENTS"]

' Por motivo CANCELACION SISTEMAS por el usuario ALVARELI'